<!-- <app-navigation></app-navigation>
<main id="playground">
    <app-header></app-header>
    <section class="content-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h1>
                        All Cases
                    </h1>
                    <div class="newbooking"> <a routerLink="/newbooking"><i class="fa fa-plus"></i> New Booking</a></div>
                    <div class="accordion" id="accordionExample">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h2 class="mb-0">
                                    <div class="btn-link" data-toggle="collapse" data-target="#collapseOne">
                                        Cases
                                    </div>
                                </h2>
                            </div>

                            <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                <div class="card-body">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th class="th-lg" scope="col">SRM ID</th>
                                                <th class="th-lg" scope="col">Contact person</th>
                                                <th class="th-lg" scope="col">Business</th>
                                                <th class="th-lg" scope="col">Email</th>
                                                <th class="th-lg" scope="col">Telephone</th>
                                                <th class="th-lg" scope="col">Mobile</th>
                                                <th class="th-lg" scope="col">Case</th>
                                                <th class="th-lg" scope="col">Booking Responsible</th>
                                                <th class="th-lg" scope="col">Lead origin</th>
                                                <th class="th-lg" scope="col">Created</th>
                                                <th class="th-lg" scope="col">Arrival</th>
                                                <th class="th-lg" scope="col">Depart</th>
                                                <th class="th-lg" scope="col">status</th>
                                                <th class="th-lg" scope="col">Location</th>
                                                <th class="th-lg" scope="col">Referred by</th>
                                                <th class="th-lg" scope="col">Set by center in total</th>
                                                <th class="th-lg" scope="col">Location Date</th>
                                                <th class="th-lg" scope="col">Number of participants</th>
                                                <th class="th-lg" scope="col">Estimated by DKBS in total</th>
                                                <th class="th-lg" scope="col">Cancellation Reason</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th>Details Bind</th>
                                                <th>Details Bind</th>
                                                <th>Details Bind</th>
                                                <th>Details Bind</th>
                                                <th>Details Bind</th>
                                                <th>Details Bind</th>
                                                <th>Details Bind</th>
                                                <th>Details Bind</th>
                                                <th>Details Bind</th>
                                                <th>Details Bind</th>
                                                <th>Details Bind</th>
                                                <th>Details Bind</th>
                                                <th>Details Bind</th>
                                                <th>Details Bind</th>
                                                <th>Details Bind</th>
                                                <th>Details Bind</th>
                                                <th>Details Bind</th>
                                                <th>Details Bind</th>
                                                <th>Details Bind</th>
                                                <th>Details Bind</th>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </section>
</main> -->
<app-navigation></app-navigation>
<main id="playground">
    <app-header></app-header>
    <section class="content-header">
        <h1>
           
         
        </h1>
        <ol class="breadcrumb">
          <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
          <li class="active">All Cases</li>
        </ol>
      </section>
    <section class="content-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                   
                    <!-- <div class="newbooking"> <a routerLink="/newbooking"><i
                                class="fa fa-plus"></i> New Booking</a></div> -->
                    <div class="container-fluid">

                        <!-- Breadcrumbs-->


                        <!-- DataTables Example -->
                        <div class="card mb-3">
                            <!-- <div class="card-header">
                                <a routerLink="/newbooking"><i
                                    class="fa fa-plus"></i> New Booking</a></div> -->
                            <div class="card-body">
                                <!-- <div class="table-responsive">
                              <table class="table table-bordered table-striped" id="dataTable" >
                                <thead>
                                  <tr>
                                    <th>Name</th>
                                    <th>Position</th>
                                    <th>Office</th>
                                    <th>Age</th>
                                    <th>Start date</th>
                                    <th>Salary</th>
                                  </tr>
                                </thead>
                                <tfoot>
                                  <tr>
                                    <th>Name</th>
                                    <th>Position</th>
                                    <th>Office</th>
                                    <th>Age</th>
                                    <th>Start date</th>
                                    <th>Salary</th>
                                  </tr>
                                </tfoot>
                                <tbody *ngFor="let p of Allcaseslst">
                                  <tr>
                                    <td>{{p.bookingId}}</td>
                                    <td>{{p.partnerDTO.partnerName}}</td>
                                    <td>Edinburgh</td>
                                    <td>61</td>
                                    <td>2011/04/25</td>
                                    <td>$320,800</td>
                                  </tr>
                                  
                                </tbody>
                              </table>
                            </div> -->
                                <div class="table-responsive" style="height: 500px;">
                                    <table class="table table-hover"  style="width: 2633px;">
                                        <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">SRM ID</th>
                                                <th scope="col">Case</th>
                                                <th scope="col">Contact person</th>
                                                <th scope="col">Business</th>
                                                <th scope="col">Email</th>
                                                <th scope="col">Telephone</th>
                                                <th scope="col">Mobile</th>
                                              
                                                <th scope="col">Booking
                                                    Responsible</th>
                                                <th scope="col">Lead origin</th>
                                                <th scope="col">Created</th>
                                                <th scope="col">Arrival</th>
                                                <th scope="col">Depart</th>
                                                <th scope="col">status</th>
                                                <th scope="col">Location</th>
                                                <th scope="col">Referred by</th>
                                                <th scope="col">Set by center in
                                                    total</th>
                                                <th scope="col">Location Date</th>
                                                <th scope="col">Number of
                                                    participants</th>
                                                <th scope="col">Estimated by
                                                    DKBS in
                                                    total</th>
                                                <th scope="col">Cancellation
                                                    Reason</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let p of Allcaseslst">
                                                <th scope="row">1</th>
                                                <td>{{p.bookingId}}</td>
                                                <td>Refrence from another partner     
                                                    <a routerLink="/allcases" style="
                                                    color: #eb6100;
                                                    text-decoration: underline;
                                                " > <span>SRM{{p.bookingId}}</span>&nbsp;<i class="fa fa-external-link"></i> </a>
                                                </td>
                                                <td>{{p.partnerDTO.partnerName}}</td>
                                                <td>Business</td>
                                                <td>{{p.partnerDTO.emailId}}</td>
                                                <td>{{p.partnerDTO.phoneNumber}}</td>
                                                <td>456</td>
                                               
                                                <td>Hall Booking</td>
                                                <td>{{p.leadOfOriginDTO.name}}</td>
                                                <td>{{p.partnerDTO.centerTypeDTO.createdDate}}</td>
                                                <td>{{p.arrivalDateTime}}</td>
                                                <td>{{p.departDateTime}}</td>
                                                <td><span class="label label-success">Approved</span></td>
                                                <td>location</td>
                                                <td>Referredby</td>
                                                <td>set by</td>
                                                <td>location date</td>
                                                <td>No of parti</td>
                                                <td>estimated</td>
                                                <td>{{p.cancellationReasonDTO.cancellationReasonName}}</td>


                                            </tbody>
                                        </table>
                                    </div>

                                </div>

                            </div>


                        </div>

                    </div>
                </div>
            </div>
        </section>
    </main>
