<app-navigation></app-navigation>
<main id="playground">
  <app-header></app-header>
  <section class="content-area">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <h1>
            All Cases
          </h1>
          <div class="newbooking"> <a routerLink="newbooking"><i class="fa fa-plus"></i> New Booking</a></div>
          <div class="accordion" id="accordionExample">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                  <div class="btn-link" data-toggle="collapse" data-target="#collapseOne">
                    Cases
                  </div>
                </h2>
              </div>
          
              <div id="collapseOne" class="collapse show"  data-parent="#accordionExample">
                <div class="card-body">
                  <table class="table table-bordered" >
                    <thead>
                      <tr>
                        <th class="th-lg" scope="col">SRM ID</th>
                        <th class="th-lg" scope="col">Contact person</th>
                        <th class="th-lg" scope="col">Business</th>
                        <th class="th-lg" scope="col">Email</th>
                        <th class="th-lg" scope="col">Telephone</th>
                        <th class="th-lg" scope="col">Mobile</th>
                        <th class="th-lg" scope="col">Case</th>
                        <th class="th-lg" scope="col">Booking Responsible</th>
                        <th class="th-lg" scope="col">Lead origin</th>
                        <th class="th-lg" scope="col">Created</th>
                        <th class="th-lg" scope="col">Arrival</th>
                        <th class="th-lg" scope="col">Depart</th>
                        <th class="th-lg" scope="col">status</th>
                        <th class="th-lg" scope="col">Location</th>
                        <th class="th-lg" scope="col">Referred by</th>
                        <th class="th-lg" scope="col">Set by center in total</th>
                        <th class="th-lg" scope="col">Location Date</th>
                        <th class="th-lg" scope="col">Number of participants</th>
                        <th class="th-lg" scope="col">Estimated by DKBS in total</th>
                        <th class="th-lg" scope="col">Cancellation Reason</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr >
                        <th>Details Bind</th>
                        <th>Details Bind</th>
                        <th>Details Bind</th>
                        <th>Details Bind</th>
                        <th>Details Bind</th>
                        <th>Details Bind</th>
                        <th>Details Bind</th>
                        <th>Details Bind</th>
                        <th>Details Bind</th>
                        <th>Details Bind</th>
                        <th>Details Bind</th>
                        <th>Details Bind</th>
                        <th>Details Bind</th>
                        <th>Details Bind</th>
                        <th>Details Bind</th>
                        <th>Details Bind</th>
                        <th>Details Bind</th>
                        <th>Details Bind</th>
                        <th>Details Bind</th>
                        <th>Details Bind</th>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>



          </div>
       </div>
      </div>
    </div>
  </section>
</main>