################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
.*
!/.gitignore
bin/
obj/
node_modules/
dist/
Publish/
*.csproj.user
/Database/dkbs
/dkbs-services/DKBS.API/Controllers
/dkbs-services/DKBS.API1
