<app-header></app-header>
<router-outlet></router-outlet>
<app-navigation></app-navigation>


<section class="content-area">   
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
            
                
                <ul class="cd-breadcrumb triangle nav nav-tabs" role="tablist" tyle="padding: 0px 4px 4px 173px;            ">
                    <li class="active"><a href="#home" data-toggle="tab">Kundeoplysniger</a></li>
                    <li><a href="#profile"   role="tab" data-toggle="tab">Eventdetaljer</a></li>
                    <li><a href="#messages"  role="tab" data-toggle="tab">Matching</a></li>
                    <li><a href="#settings"  role="tab" data-toggle="tab">Additional Search Criteria</a></li>
                </ul>

              <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="home">
                    
                        <form class="formbox">
                            <div class="row">

                                <div class="col-md-12">
                                    
                                    <button type="button" class="btn btn-outline-info" style="margin: 0px 429px -39px;">Info</button>
                                </div>
                            </div>
                            <h6 class="FormH6">Personoplysninger</h6>
                        <hr class="style2">
                        
                            <div class="form-group">
                                <label class="col-form-label">firma</label>
                                <input type="text" class="form-control txtsize">
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Branche</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Adresse</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Postnr.,by, Land</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Kontaktperson</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Afedeling</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Steling</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Email</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Telefon</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Mobil</label>
                                <input type="text" class="form-control">
                            </div>
                            <br>
                            <h6 class="FormH6">Henvisning</h6>
                        <hr class="style2">
                            
                                <div class="form-group">
                                    <label class="col-form-label">Henvist af</label>
                                    <input type="text" class="form-control">
                                 </div>

                                 <div class="form-group">
                                    <label class="col-form-label">Henviser</label>
                                    <select id="inputState" class="form-control txtsize"><option selected="selected">Choose...</option><option>...</option></select>
                                 </div>
                                 <div class="form-group">
                                    <label class="col-form-label">Hvor Kendeer du os fra</label>
                                    <select id="inputState" class="form-control txtsize"><option selected="selected">Choose...</option><option>...</option></select>
                                 </div>
                                 <div class="form-group">
                                    <label class="col-form-label">Ledeoprindelse</label>
                                    <select id="inputState" class="form-control txtsize"><option selected="selected">Choose...</option><option>...</option></select>
                                 </div>
                                
                                 
                        </form>
                    
                    </div>
                    <div role="tabpanel" class="tab-pane" id="profile">
                        <form class="formbox">
                            <h6 class="FormH6">Dato og tidspunkt</h6>
                        <hr class="style2">
                            <div class="form-group">
                                <label class="col-form-label">Ankomst</label>
                                <input type="date" class="form-control">
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Afrejse</label>
                                <input type="date" class="form-control">
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Datoerne er fleksible</label>
                                <input type="checkbox" style="margin: 2px -104px;" >
                                
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Intern historik</label>
                                  <textarea class="form-control" rows="5" id="comment" style="margin: 0px 354px 0px 0px; width: 470px; height: 90px;"></textarea>
                            </div>

                              <h6 class="FormH6">Ønsket geografisk område</h6>
                               <hr class="style2">
                               <div class="form-group">
                                <label class="col-form-label">Region/landsdel</label>
                                <input type="checkbox" style="margin: 2px -104px;" >Region 1<br />
                                <input type="checkbox" style="margin: 2px -104px;" >Region 2<br />     <!--Need to iterate data using ng repeat-->                                   
                                
                            </div>
                        
                             <h6 class="FormH6">Eventtype og formal</h6>
                        <hr class="style2">
                            <div class="form-group">
                                 <div class="form-group">
                                    <label class="col-form-label">Formal</label>
                                    <select id="Select1" class="form-control txtsize"><option selected="selected">Choose...</option><option>...</option></select>
                                 </div>
                            </div>
                            <div class="form-group">
                                 <div class="form-group">
                                    <label class="col-form-label">Deltagere</label>
                                    <select id="Select2" class="form-control txtsize"><option selected="selected">Choose...</option><option>...</option></select>
                                 </div>
                            </div>
                              <div class="form-group">
                                    <label class="col-form-label">Antal Deltagere</label>
                                    <input type="text" class="form-control">
                                 </div>
                            <div class="form-group">
                                <label class="col-form-label">Værelser</label>
                            <div class="col-sm-16">
                                <div class="row" style="margin: 9px -200px  28px 37px;">
                                    <div class="col-sm-5 inlinediv"style="margin: 0px -11px;" >
                                        <label style="width: 114px;">Antal enkeltVærelser</label>
                                        <input type="text"  class="form-control InlineInput" >
                                    </div>
                                    <div class="col-sm-3 inlinediv">
                                        <label style="width: 134px;">Antal dobbeltVærelser</label>
                                        <input type="text"  class="form-control InlineInput" style="
                                        padding: 0px;
                                        margin: 0px 90px;
                                    " >
                                    </div>
                                </div>	
                                </div>
                                 </div>
                              <div class="form-group">
                                 <div class="form-group">
                                    <label class="col-form-label">Bordopstilling i plenum</label>
                                    <select id="Select3" class="form-control txtsize"><option selected="selected">Choose...</option><option>...</option></select>
                                 </div>
                            </div>
                              <h6 class="FormH6">Kommentarer</h6>
                                <hr class="style2">
                            <div class="form-group">
                                <label class="col-form-label">Supplerende Ønsker/Kommentarer </label>
                                  <textarea class="form-control" rows="5" id="Textarea1" style="margin: 0px 354px 0px 0px;  width: 470px; height: 90px;"></textarea>
                            </div>
                             <h6 class="FormH6">Lokaler og bordopstilling</h6>
                                <hr class="style2">
                                <div class="form-group">
                                <label class="col-form-label">Værelser</label>
                            <div class="col-sm-16">
                                <div class="row" style="margin: 4px;">
                                    <div class="col-sm-2 inlinediv" style="    width: 134px;" >
                                        <label style="width: 145px;">Kursusapkker</label>
                                        <input type="text"  class="form-control InlineInput" >
                                    </div>
                                     <div class="col-sm-2 inlinediv" style="    width: 134px;" >
                                        <label style="width: 145px;">Antal deltagere</label>
                                        <input type="text"  class="form-control InlineInput" >
                                    </div>
                                     <div class="col-sm-2 inlinediv" style="    width: 134px;" >
                                        <label style="width: 145px;">Fra</label>
                                        <input type="text"  class="form-control InlineInput" >
                                    </div>
                                     <div class="col-sm-2 inlinediv" style="    width: 134px;" >
                                        <label style="width: 145px;">Til</label>
                                        <input type="text"  class="form-control InlineInput" >
                                    </div>
                                </div>	
                                </div>

                                     <label class="col-form-label">Lokaler</label>
                            <div class="col-sm-16">
                                <div class="row" style="margin: 4px;">
                                    <div class="col-sm-2 inlinediv" style="    width: 134px;" >
                                        <label style="width: 145px;">Lokaletype</label>
                                        <input type="text"  class="form-control InlineInput" >
                                    </div>
                                     <div class="col-sm-2 inlinediv" style="    width: 134px;" >
                                        <label style="width: 145px;">Antal lokaler</label>
                                        <input type="text"  class="form-control InlineInput" >
                                    </div>
                                     <div class="col-sm-2 inlinediv" style="    width: 134px;" >
                                        <label style="width: 145px;">a personer</label>
                                        <input type="text"  class="form-control InlineInput" >
                                    </div>
                                     <div class="col-sm-2 inlinediv" style="    width: 134px;" >
                                        <label style="width: 145px;">Bordopstilling</label>
                                        <input type="text"  class="form-control InlineInput" >
                                    </div>
                                    <div class="col-sm-2 inlinediv" style="    width: 134px;" >
                                        <label style="width: 145px;">Fra</label>
                                        <input type="text"  class="form-control InlineInput" >
                                    </div><br />
                                    <div class="col-sm-2 inlinediv" style="width: 134px;margin: 0px 214px;" >
                                        <label style="width: 145px;">Til</label>
                                        <input type="text"  class="form-control InlineInput" >
                                    </div>
                                </div>	
                                </div>
                                    <br />
                                    
                                     <label class="col-form-label"> opgiv ogs pris pa</label>
                            <div class="col-sm-16">
                                <div class="row" >
                                    <div class="col-sm-2 inlinediv" style="    width: 134px;" >
                                        <label style="width: 145px;">Beskrivelse</label>
                                        <input type="text"  class="form-control InlineInput" >
                                    </div>
                                     <div class="col-sm-2 inlinediv" style="    width: 134px;" >
                                        <label style="width: 145px;">Anta(stk.)</label>
                                        <input type="text"  class="form-control InlineInput" >
                                    </div>
                             
                                </div>	
                                <br />
                                 
                                </div>
                                    <div class="form-group">
                                <label class="col-form-label">Bookingansvarling</label>
                                <input type="text" class="form-control" style="margin: 0px 8px;">
                                        </div>
                            </div>
                                 
                        </form>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="messages">
                        <form class="formbox">
                              <h6 class="FormH6">Cener-matching</h6>
                                <hr class="style2">
                            <div class="form-group">
                                <label class="col-form-label">Sogeresultater</label>
                                <input type="checkbox" style="margin: 2px -104px;" >
                                
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Statsaftale</label>
                                <input type="checkbox" style="margin: 2px -104px;" >
                                
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Regionsaftable</label>
                                <input type="checkbox" style="margin: 2px -104px;" >
                                
                            </div>
                            <div class="form-group">
                                    <label class="col-form-label">Partner Type</label>
                                    <select id="Select4" class="form-control txtsize"><option selected="selected">Choose...</option><option>...</option></select>
                                 </div>
                            
                        </form>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="settings">
                        <form class="formbox">
                            <h6 class="FormH6">Search Criteria</h6>
                               <hr class="style2">
                               <div class="form-group">
                                <label class="col-form-label">Region/landsdel</label>
                                <input type="checkbox" style="margin: 2px -104px;" >search 1<br />
                                <input type="checkbox" style="margin: 2px -104px;" >search 2<br />     <!--Need to iterate data using ng repeat-->   
                                
                                   </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
