<app-partnersitenavigation>
</app-partnersitenavigation>
<main id="playground">
    <app-header></app-header>
    <section class="content-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h1>
                        Partneractivecases
                    </h1>
                    <div class="accordion" id="accordionExample">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h2 class="mb-0">
                                    <div class="btn-link" data-toggle="collapse" data-target="#collapseOne">
                                        Partneractivecases
                                    </div>
                                </h2>
                            </div>
                            <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                <div class="card-body">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th class="th-lg" scope="col">Arsag</th>
                                                <th class="th-lg" scope="col">Title</th>
                                                <th class="th-lg" scope="col">Arrival</th>
                                                <th class="th-lg" scope="col">response</th>
                                                <th class="th-lg" scope="col">booking charge</th>
                                                <th class="th-lg" scope="col">response time</th>
                                                <th class="th-lg" scope="col">Created</th>
                                                <th class="th-lg" scope="col">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th>Details Bind</th>
                                                <th>Details Bind</th>
                                                <th>Details Bind</th>
                                                <th>Details Bind</th>
                                                <th>Details Bind</th>
                                                <th>Details Bind</th>
                                                <th>Details Bind</th>
                                                <th><a routerLink="">Edit</a></th>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>