<!-- <app-navigation></app-navigation> -->

<app-partnernavigation></app-partnernavigation>
<main id="playground">
  <app-header></app-header>
  <section class="content-area">
<div class="row">
  <div class="col-sm-6 col-lg-2">
    <div class="card text-white o-hidden h-100" style="background: #5830b7;">
      <div class="card-body">
      
        <div class="mr-5">

          <i class="fa fa-adjust" style="font-size:48px;"></i>
        </div>
      </div>
      <a class="card-footer text-white clearfix small z-1" href="#">
        <span class="float-left">Missing answer</span>
        <!-- <span class="float-right">
          <i class="fas fa-angle-right"></i>
        </span> -->
      </a>
    </div>
  </div>
  <div class="col-sm-6 col-lg-2">
    <div class="card text-white o-hidden h-100" style="background: #F99837;">
      <div class="card-body">
      
        <div class="mr-5">

          <i class="fa fa-plus" style="font-size:48px;"></i>
        </div>
      </div>
      <a class="card-footer text-white clearfix small z-1" href="#">
        <span class="float-left">Send referral</span>
        <!-- <span class="float-right">
          <i class="fas fa-angle-right"></i>
        </span> -->
      </a>
    </div>
  </div>
  <div class="col-sm-6 col-lg-2">
    <div class="card text-white o-hidden h-100" style="background: #FFCA00;">
      <div class="card-body">
      
        <div class="mr-5">

          <i class="fa fa-lightbulb-o" style="font-size:48px;"></i>
        </div>
      </div>
      <a class="card-footer text-white clearfix small z-1" href="#">
        <span class="float-left">Help</span>
        <!-- <span class="float-right">
          <i class="fas fa-angle-right"></i>
        </span> -->
      </a>
    </div>
  </div>
  <div class="col-sm-6 col-lg-2">
    <div class="card text-white o-hidden h-100" style="background: #65BF41;">
      <div class="card-body">
      
        <div class="mr-5">

          <i style="font-size:48px;"><span>1</span></i>
        </div>
      </div>
      <a class="card-footer text-white clearfix small z-1" href="#">
        <span class="float-left">Inquiries for the last 12 months</span>
        <!-- <span class="float-right">
          <i class="fas fa-angle-right"></i>
        </span> -->
      </a>
    </div>
  </div>
  <div class="col-sm-6 col-lg-2">
    <div class="card text-white o-hidden h-100" style="background: #379369;">
      <div class="card-body">
      
        <div class="mr-5">

          <i style="font-size:22px;"><span>0 to 1 min</span></i>
        </div>
      </div>
      <a class="card-footer text-white clearfix small z-1" href="#">
        <span class="float-left">Average response time</span>
        <!-- <span class="float-right">
          <i class="fas fa-angle-right"></i>
        </span> -->
      </a>
    </div>
  </div>

  <div class="col-sm-6 col-lg-2">
    <div class="card text-white o-hidden h-100" style="background: #248994;">
      <div class="card-body">
      
        <div class="mr-5">

          <i style="font-size:46px;"><span>10 %</span></i>
        </div>
      </div>
      <a class="card-footer text-white clearfix small z-1" href="#">
        <span class="float-left">No - answer</span>
        <!-- <span class="float-right">
          <i class="fas fa-angle-right"></i>
        </span> -->
      </a>
    </div>
  </div>

</div>

<br>
<br>
<div class="row">
  <div class="col-sm-6 col-lg-2">
    <div class="card text-white o-hidden h-100" style="background: #308AC2;">
      <div class="card-body">
      
        <div class="mr-5">

          <i style="font-size:22px;"><span>0</span></i>
        </div>
      </div>
      <a class="card-footer text-white clearfix small z-1" href="#">
        <span class="float-left">Placed for the last 12 months</span>
        <!-- <span class="float-right">
          <i class="fas fa-angle-right"></i>
        </span> -->
      </a>
    </div>
  </div>
  <div class="col-sm-6 col-lg-2">
    <div class="card text-white o-hidden h-100" style="background: #493FD1;">
      <div class="card-body">
      
        <div class="mr-5">

          <i style="font-size:46px;"><span>Kr. 0</span></i>
        </div>
      </div>
      <a class="card-footer text-white clearfix small z-1" href="#">
        <span class="float-left">Value of placements for the last 12 months</span>
        <!-- <span class="float-right">
          <i class="fas fa-angle-right"></i>
        </span> -->
      </a>
    </div>
  </div>
  <div class="col-sm-6 col-lg-2">
    <div class="card text-white o-hidden h-100" style="background: #6E49B7;">
      <div class="card-body">
      
        <div class="mr-5">

          <i style="font-size:46px;"><span>0</span></i>
        </div>
      </div>
      <a class="card-footer text-white clearfix small z-1" href="#">
        <span class="float-left">References for the last 12 months</span>
        <!-- <span class="float-right">
          <i class="fas fa-angle-right"></i>
        </span> -->
      </a>
    </div>
  </div>
  <div class="col-sm-6 col-lg-2">
    <div class="card text-white o-hidden h-100" style="background: #9B4FBD;">
      <div class="card-body">
      
        <div class="mr-5">

          <i style="font-size:46px;"><span>Kr. 0</span></i>
        </div>
      </div>
      <a class="card-footer text-white clearfix small z-1" href="#">
        <span class="float-left">Referral commission for the last 12 months</span>
        <!-- <span class="float-right">
          <i class="fas fa-angle-right"></i>
        </span> -->
      </a>
    </div>
  </div>
  <div class="col-sm-6 col-lg-2">
    <div class="card text-white o-hidden h-100" style="background: #BE4E91;">
      <div class="card-body">
      
        <div class="mr-5">

          <i style="font-size:46px;"><span>0</span></i>
        </div>
      </div>
      <a class="card-footer text-white clearfix small z-1" href="#">
        <span class="float-left">NPS Score for the last 3 months</span>
        <!-- <span class="float-right">
          <i class="fas fa-angle-right"></i>
        </span> -->
      </a>
    </div>
  </div>
  <div class="col-sm-6 col-lg-2">
    <div class="card text-white o-hidden h-100" style="background: #E197B3;">
      <div class="card-body">
      
        <div class="mr-5">

          <i style="font-size:46px;"><span>0</span></i>
        </div>
      </div>
      <a class="card-footer text-white clearfix small z-1" href="#">
        <span class="float-left">Number of responses for the last 3 months</span>
        <!-- <span class="float-right">
          <i class="fas fa-angle-right"></i>
        </span> -->
      </a>
    </div>
  </div>

</div>
  </section>
  </main>