<div id="logo-container">
  <a routerLink="/" id="logo-img">
    <!--<img src="img/logo.png" class="big-logo" alt="logo">-->
    <h3>DKBS</h3>
  </a>
</div>

<div id="sidebar">
  <div class="sidebar_scroll">
    <ul class="nav lg-menu" id="main-nav">
      <li><a href="#"> <i class="fa fa-users"></i> <span>Booking</span></a>
      </li>
      <li><a routerLinkActive="active" routerLink="bookingdetails">
          <i class="fa fa-file-text-o"></i>
          <span>Partners</span></a>
      </li>
      <li><a href="#"> <i class="fa fa-user"></i> <span>Customers</span></a>
        <!-- <ul class="nav nav-submenu submenu-hidden">
          <li><a href="#">Reporting</a></li>
          <li><a href="#">Financial</a></li>
          <li><a href="#">Standard Reporting</a></li>
          <li><a href="#">Detailed Reporting</a></li>
          <li><a href="#">Advanced Reporting</a></li>
        </ul> -->
      </li>

      <li><a routerLink="allcases"> <i class="fa fa-user"></i> <span>All Cases</span></a>
       
      </li>
      <!-- <li><a href="#"> <i class="fa fa-book"></i> <span>CRM</span> <i
            class="pull-right has-submenu fa fa-angle-right"></i></a>
        <ul class="nav nav-submenu submenu-hidden">
          <li><a href="#">View CRM</a></li>
          <li><a href="#">Import File</a></li>
        </ul>
      </li>
      <li><a href="#"> <i class="fa fa-address-book-o"></i> <span>Access Client Account</span></a></li>
      <li><a href="#"> <i class="fa fa-cog"></i> <span>Emp Account</span></a></li> -->
    </ul>
  </div>

</div>
<div class="collapsebtn">
  <a class="navbar-brand show-hide-sidebar hide-sidebar" href="#"><i class="fa fa-angle-double-left"></i> Collapse
    sidebar</a>
  <a class="navbar-brand show-hide-sidebar show-sidebar" href="#"><i class="fa fa-angle-double-right"></i></a>
</div>