<app-navigation></app-navigation>
<main id="playground">
  <app-header></app-header>

  <div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
    
        <div class="col-12 grid-margin">
          <div class="card">
            <div class="card-body" style="background: #32125d;">
              <h4 class="pull-left" style="color: white;">Cause
              </h4>             
              <div class="clearfix"></div>
              <hr class="style2">
              
              <form class="form-sample">
                  <div style="background: #502d7d;padding: 0px 0px 0px 11px;">
                    
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Booking Responsible</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control">
                      </div>
                    </div>
                  </div>
                  
                  <div class="col-md-6">
                      <div class="form-group row">
                        
                        <div class="col-sm-9">
                            <i class="fa fa-comments" aria-hidden="true" style="color: #eb6100;">&nbsp; Start Chat</i>
                        </div>
                      </div>
                    </div>   
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Cause</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control">
                      </div>
                    </div>
                  </div>              
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">New Comment on the case</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control">
                      </div>
                    </div>
                  </div>              
                </div>
              </div>
              <br>
              <h4 class="pull-left" style="color: white;">Event Details
                </h4>             
                <div class="clearfix"></div>
                <hr class="style2">
              <div style="background: #502d7d;padding: 0px 0px 0px 11px;">
              
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">The Date Is Flexiable</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Additional Request/Comments</label>
                      <div class="col-sm-9">
                        <textarea class="form-control" rows="5" id="comment"></textarea>
                      </div>
                    </div>
                  </div>   
                  
                </div>              
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Arrival</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control">
                      </div>
                    </div>
                  </div>
                
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Depart</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control">
                      </div>
                    </div>
                  </div>
                 
                  
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Number of Participants</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control">
                      </div>
                    </div>
                  </div>
                 
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Table setting in plenary</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control">
                      </div>
                    </div>
                  </div>
                 
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Participants</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control">
                      </div>
                    </div>
                  </div>
                 
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Company Code</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control">
                      </div>
                    </div>
                  </div>
                 
                </div>
              </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
 
  </div>
</main>