<!-- <app-navigation></app-navigation> -->
<app-partnersitenavigation></app-partnersitenavigation>
<main id="playground">
    <app-header></app-header>
    <section class="content-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">

                    <div class="accordion" id="accordionExample">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h2 class="mb-0">
                                    <div class="btn-link" data-toggle="collapse" data-target="#collapseOne">
                                        The Course Package & Price
                                    </div>
                                </h2>
                            </div>

                            <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                <div class="card-body">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th class="th-lg" scope="col"></th>
                                                <th class="th-lg" scope="col">offered</th>
                                                <th class="th-lg" scope="col">course Packages
                                                </th>
                                                <th class="th-lg" scope="col">Course Package (English)
                                                </th>
                                                <th class="th-lg" scope="col">Price
                                                </th>
                                                <th class="th-lg" scope="col">Approval Status</th>


                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th>Details Bind</th>
                                                <th>Details Bind</th>
                                                <th>Details Bind</th>
                                                <th>Details Bind</th>
                                                <th>Details Bind</th>
                                                <th>Details Bind</th>



                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>