<app-navigation></app-navigation>
<main id="playground">
  <app-header></app-header>
  <section class="content-area">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 dbkstabs">
          <ul class=" nav nav-tabs" role="tablist">
            <li [class]="selectedwallet === 'Kundeoplysniger'?'active':'inactive'"><a
                (click)="selectedwallet = 'Kundeoplysniger'" class="nav-link">Company Information</a></li>
            <li [class]="selectedwallet === 'Eventdetaljer'?'active':'inactive'"><a
                (click)="selectedwallet = 'Eventdetaljer'" class="nav-link">Event Details</a></li>
            <li [class]="selectedwallet === 'Matching'?'active':'inactive'"> <a (click)="selectedwallet = 'Matching'"
                class="nav-link">Matching</a></li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" *ngIf="selectedwallet === 'Kundeoplysniger'">
              <form class="formboxadditional">
                <h4 class="pull-left">Company Information
                </h4>
                <div class="pull-right">
                  <button type="button" class="btn btn-outline-info">Reset</button>
                </div>
                <div class="clearfix"></div>
                <hr class="style2">
                <div class="form-group">
                  <label class="col-form-label">Company</label>
                  <!-- <input type="text" class="form-control txtsize"> -->
                  <input [(ngModel)]="selectedValuestates" [typeahead]="states" typeaheadOptionField="Zipcode"
                    (typeaheadOnSelect)="onSelect($event)" [typeaheadScrollable]="true" class="form-control" name="kp" autocomplete="off">

                
                  <app-addcustomer></app-addcustomer>
                </div>
                <div class="form-group">
                  <label class="col-form-label">Business</label>
                  <input type="text" class="form-control">
                </div>
                <div class="form-group">
                  <label class="col-form-label">Address</label>
                  <input type="text" class="form-control">
                </div>
                <div class="form-group">
                  <label class="col-form-label">Postal code, City, Country</label>
                  <!-- <input type="text" class="form-control"> -->
                  <input [(ngModel)]="selectedValuecompany" [typeahead]="company" typeaheadOptionField="Zipcode"
                    (typeaheadOnSelect)="onSelect($event)" [typeaheadScrollable]="true" class="form-control"
                    name="postal" autocomplete="off">
                  <app-addzipcode></app-addzipcode>
                </div>
                <div class="form-group">
                  <label class="col-form-label">Contact Person</label>
                  <!-- <input type="text" class="form-control"> -->
                  <input [(ngModel)]="selectedValueContactPerson" [typeahead]="ContactPerson" typeaheadOptionField="Zipcode"
                    (typeaheadOnSelect)="onSelect($event)" [typeaheadScrollable]="true" class="form-control" name="kp" autocomplete="off">
                  <app-contactperson></app-contactperson>
                </div>
                <div class="form-group">
                  <label class="col-form-label">Department</label>
                  <input type="text" class="form-control">
                </div>
                <div class="form-group">
                  <label class="col-form-label">Position</label>
                  <input type="text" class="form-control">
                </div>
                <div class="form-group">
                  <label class="col-form-label">Email</label>
                  <input type="text" class="form-control">
                </div>
                <div class="form-group">
                  <label class="col-form-label">Telephone</label>
                  <input type="text" class="form-control">
                </div>
                <div class="form-group">
                  <label class="col-form-label">Mobile</label>
                  <input type="text" class="form-control">
                </div>
                <br>
                <h6 class="FormH6">Reference</h6>
                <hr class="style2">

                <div class="form-group">
                  <label class="col-form-label">Referred by</label>
                  <input type="text" class="form-control">
                </div>

                <div class="form-group">
                  <label class="col-form-label">Refers</label>
                  <select id="inputState" class="form-control txtsize">
                    <option selected="selected">Choose...</option>
                    <option>...</option>
                  </select>
                </div>
                <div class="form-group">
                  <label class="col-form-label">Where do you know us?</label>
                  <select id="inputState" class="form-control txtsize">
                    <option selected="selected">Choose...</option>
                    <option>...</option>
                  </select>
                </div>
                <div class="form-group">
                  <label class="col-form-label">Lead Origin</label>
                  <select id="inputState" class="form-control txtsize">
                    <option selected="selected">Choose...</option>
                    <option>...</option>
                  </select>
                </div>
                <div class="form-group mtop40 text-right padright75">
                    <button type="submit" class="btn btn-danger mright50">Next</button>
                    <button type="submit" class="btn btn-success">Cancel</button>
                </div>

              </form>

            </div>
            <div role="tabpane2" *ngIf="selectedwallet === 'Eventdetaljer'">

              <form class="formbox">
                <h6 class="FormH6">Date and time</h6>
                <hr class="style2">
                <div class="height20"></div>
                <div class="form-group">
                  <label class="col-form-label">Arrival</label>
                  <div class="datetimediv">
                    <input type="text" bsDatepicker class="form-control dpicker" autocomplete="off" />
                    <timepicker [formControlName]="'myControl'" class="widthtimepicker"></timepicker>
                  </div>
                  <div class="clear"></div>
                </div>
                <div class="clear"></div>
                <div class="form-group">
                  <label class="col-form-label">Depart</label>
                  <div class="datetimediv">
                    <input type="text" bsDatepicker class="form-control dpicker" autocomplete="off" />
                    <timepicker [formControlName]="'myControl'" class="widthtimepicker"></timepicker>
                  </div>
                  <div class="clear"></div>
                </div>
                <div class="clear"></div>
                <div class="form-group">
                  <label class="col-form-label">The dates are flexible</label>
                  <input type="checkbox">

                </div>
                <div class="form-group">
                  <label class="col-form-label">Internal history</label>
                  <textarea class="form-control" rows="5" id="comment"></textarea>
                  <span class="interhis">Internal history</span>
                </div>

                <h6 class="FormH6">Desired geographical area</h6>
                <hr class="style2">

                <div class="form-group">
                  <label class="col-form-label">Region / Province</label>
                  <div class="radiocheckbox">
                    <div class="form-check">
                      <ng-multiselect-dropdown [placeholder]="'custom placeholder'" [data]="dropdownList"
                        [(ngModel)]="dropdownList" [settings]="dropdownSettings" (onSelect)="onItemSelect($event)"
                        (onSelectAll)="onSelectAll($event)"></ng-multiselect-dropdown>
                    </div>
                  </div>
                </div>

                <h6 class="FormH6">Event type and purpose</h6>
                <hr class="style2">
                <div class="form-group">
                  <div class="form-group">
                    <label class="col-form-label">Formal</label>
                    <select id="Select1" class="form-control txtsize">
                      <option selected="selected">Choose...</option>
                      <option>...</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <div class="form-group">
                    <label class="col-form-label">Participants</label>
                    <select id="Select2" class="form-control txtsize">
                      <option selected="selected">Choose...</option>
                      <option>...</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-form-label">Number of participants</label>
                  <input type="text" class="form-control">
                </div>
                <div class="form-group">
                  <label class="col-form-label">Rooms</label>
                  <div class="width80per">
                    <div class="row">
                      <div class="col-sm-6 ">
                        <label>Number of single rooms</label>
                        <input type="text" class="form-control InlineInput">
                      </div>
                      <div class="col-sm-6 ">
                        <label>Number of double rooms</label>
                        <input type="text" class="form-control InlineInput">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-form-label">Table setting in plenary</label>
                  <select id="Select3" class="form-control txtsize">
                    <option selected="selected">Choose...</option>
                    <option>...</option>
                  </select>
                </div>
                <h6 class="FormH6">comments</h6>
                <hr class="style2">
                <div class="form-group">
                  <label class="col-form-label">Supplementary Wishes / Comments </label>
                  <textarea class="form-control" rows="5" id="Textarea1"></textarea>
                  <span class="clear"></span>
                </div>
                <h6 class="FormH6">Premises and table setting</h6>
                <hr class="style2">
                <div class="form-group">
                  <label class="col-form-label">Event type</label>
                  <div class="width80per">
                    <ul>
                      <li>
                        <div class="lbl"> Course Packages</div>
                        <input type="text" class="form-control">
                      </li>
                      <li>
                        <div class="lbl">Number of participants</div>
                        <input type="text" class="form-control">
                      </li>
                      <li>
                        <div class="lbl">From</div>
                        <input type="text" class="form-control">
                      </li>
                      <li>
                        <div class="lbl">To</div>
                        <input type="text" class="form-control">
                      </li>
                      <li>
                        <a (click)="addFieldValue()"><i class="fa fa-plus"></i>Add new row</a>
                        <!-- <button class="btn btn-default" type="button" (click)="addFieldValue()">Add</button> -->
                      </li>
                    </ul>

                    <ul *ngFor="let ObjArrangementtype of Arrangementtype; let i = index">
                      <li>

                        <input type="text" class="form-control">
                      </li>
                      <li>

                        <input type="text" class="form-control">
                      </li>
                      <li>

                        <input type="text" class="form-control">
                      </li>
                      <li>

                        <input type="text" class="form-control">
                      </li>
                      <li>
                        <button class="btn btn-default" type="button" (click)="deleteFieldValue(i)">Delete</button>

                      </li>
                    </ul>
                  </div>
                  <!-- <div class="width80per">
                      <table class="table table-bordered">
                          <thead>
                              <tr>
                                  <th>Kursuspakke</th>
                                  <th>Antal deltagere</th>
                                  <th>Fra</th>
                                  <th>Til</th>
                                  <th>Action</th>
                              </tr>
                          </thead>
                          <tbody>
                            
                              <tr *ngFor="let ObjArrangementtype of Arrangementtype; let i = index">
                                  <td>
                                      <input [(ngModel)]="ObjArrangementtype.Kursuspakke" class="form-control" type="text" name="{{ObjArrangementtype.Kursuspakke}}" />
                                  </td>
                                  <td>
                                      <input [(ngModel)]="ObjArrangementtype.Antaldeltagere" class="form-control" type="text" name="{{ObjArrangementtype.Antaldeltagere}}" />
                                  </td>
                                  <td>
                                      <input [(ngModel)]="ObjArrangementtype.Fra" class="form-control" type="text" name="{{ObjArrangementtype.Fra}}" />
                                  </td>
                                  <td>
                                      <input [(ngModel)]="ObjArrangementtype.Til" class="form-control" type="text" name="{{ObjArrangementtype.Til}}" />
                                  </td>
                                  <td>
                                      <button class="btn btn-default"  type="button" (click)="deleteFieldValue(i)">Delete</button>
                                  </td>
                              </tr>
                              <tr>
                                  <td>
                                      <input class="form-control" type="text" id="newAttributeCode" [(ngModel)]="newAttribute.Kursuspakke" name="newAttributeKursuspakke" />
                                  </td>
                                  <td>
                                      <input class="form-control" type="text" id="newAttributeName" [(ngModel)]="newAttribute.Antaldeltagere" name="newAttributeAntaldeltagere" />
                                  </td>
                                  <td>
                                      <input class="form-control" type="text" id="newAttributePrice" [(ngModel)]="newAttribute.Fra" name="newAttributeFra" />
                                  </td>
                                  <td>
                                      <input class="form-control" type="text" id="newAttributePrice" [(ngModel)]="newAttribute.Til" name="newAttributeTil" />
                                  </td>
                                  <td>
                                      <button class="btn btn-default" type="button" (click)="addFieldValue()">Add</button>
                                  </td>
                              </tr>
                          </tbody>
                      </table>
                    </div> -->
                </div>
                <div class="form-group">
                  <label class="col-form-label">Rooms</label>
                  <div class="width80per">
                    <ul>
                      <li>
                        <div class="lbl">local Attraction</div>
                        <input type="text" class="form-control">
                      </li>
                      <li>
                        <div class="lbl">Number of rooms</div>
                        <input type="text" class="form-control">
                      </li>
                      <li>
                        <div class="lbl">a persons</div>
                        <input type="text" class="form-control">
                      </li>
                      <li>
                        <div class="lbl">Table Set</div>
                        <input type="text" class="form-control">
                      </li>
                      <li>
                        <div class="lbl">From</div>
                        <input type="text" class="form-control">
                      </li>
                      <li>
                        <div class="lbl">To</div>
                        <input type="text" class="form-control">
                      </li>
                      <li>
                        <i class="fa fa-plus"></i>Add new row
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-form-label"> Also give up your prize</label>
                  <div class="width80per">
                    <ul>
                      <li>
                        <div class="lbl">Description</div>
                        <input type="text" class="form-control">
                      </li>
                      <li>
                        <div class="lbl">Anta (pcs.)</div>
                        <input type="text" class="form-control">
                      </li>
                      <li>
                        <i class="fa fa-plus"></i>Add new row
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-form-label">Booking Responsibility</label>
                  <input type="text" class="form-control">
                </div>
                <div class="form-group mtop40 text-right">
                  <button type="submit" class="btn btn-danger mright50">Previous</button>
                  <button type="submit" class="btn btn-success">Next</button>
                </div>
              </form>
            </div>
            <div role="tabpane3" *ngIf="selectedwallet === 'Matching'">
              <form class="formbox">
                <h6 class="FormH6">Cener-matching</h6>
                <hr class="style2">
                <div class="form-group">
                  <label class="col-form-label">Partner Type</label>
                  <div class="radiocheckbox">
                    <div class="form-check">
                      <ng-multiselect-dropdown [placeholder]="'custom placeholder'" [data]="dropdownList"
                        [(ngModel)]="selectedItems" [settings]="dropdownSettings" (onSelect)="onItemSelect($event)"
                        (onSelectAll)="onSelectAll($event)"></ng-multiselect-dropdown>
                    </div>

                  </div>
                </div>
                <div class="form-group">
                  <label class="col-form-label">Regions Agreement</label>
                  <input type="checkbox">
                </div>

                <div class="form-group">
                  <label class="col-form-label">state agreement</label>
                  <input type="checkbox">
                </div>

                <div class="form-group">
                  <label class="col-form-label">Search results</label>
                  <input type="checkbox">
                </div>


                <br>
                <h6 class="FormH6">Search Criteria</h6>
                <hr class="style2">
                <div class="form-group">
                  <label class="col-form-label">Search Criteria</label>
                  <div class="radiocheckbox">
                    <div class="form-check">
                      <ng-multiselect-dropdown [placeholder]="'custom placeholder'" [data]="dropdownList"
                        [(ngModel)]="selectedItems" [settings]="dropdownSettings" (onSelect)="onItemSelect($event)"
                        (onSelectAll)="onSelectAll($event)"></ng-multiselect-dropdown>
                    </div>

                  </div>
                </div>
                <div class="form-group mtop40 text-right">
                    <button type="submit" class="btn btn-danger mright50">Save</button>
                    <button type="submit" class="btn btn-success mright50">Save and Draft</button>
                    <button type="submit" class="btn btn-dark">Cancel</button>
                </div>
               
              </form>
            </div>
            <!-- <div role="tabpane4" *ngIf="selectedwallet === 'Additionalsc'">
              <form class="formbox">
                <h6 class="FormH6">Search Criteria</h6>
                <hr class="style2">
                <div class="form-group">
                  <label class="col-form-label">Region/landsdel</label>
                  <div class="radiocheckbox">
                    <div class="form-check">
                      <ng-multiselect-dropdown  [placeholder]="'custom placeholder'"  [data]="dropdownList"  [(ngModel)]="selectedItems"  [settings]="dropdownSettings"  (onSelect)="onItemSelect($event)"  (onSelectAll)="onSelectAll($event)"></ng-multiselect-dropdown>
                    </div>
                  
                  </div>
                </div>
              </form>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </section>
</main>