<app-navigation></app-navigation>
<main id="playground">
  <app-header></app-header>
  <section class="content-area">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <!-- <ul class="cd-breadcrumb triangle nav nav-tabs" role="tablist">
            <li class="active"><a href="#home" class="tab selected"  data-toggle="tab">Kundeoplysniger</a></li>
            <li><a href="#profile" role="tab" data-toggle="tab">Eventdetaljer</a></li>
            <li><a href="#messages" role="tab" data-toggle="tab">Matching</a></li>
            <li><a href="#settings3" role="tab" data-toggle="tab">Additional Search Criteria</a></li>
          </ul> -->
          <ul class="cd-breadcrumb triangle nav nav-tabs" role="tablist">
              <li [class]="selectedwallet === 'Kundeoplysniger'?'active':'inactive'"><a (click)="selectedwallet = 'Kundeoplysniger'">Kundeoplysniger</a></li>
              <li [class]="selectedwallet === 'Eventdetaljer'?'active':'inactive'"><a (click)="selectedwallet = 'Eventdetaljer'">Eventdetaljer</a></li>
              <li [class]="selectedwallet === 'Matching'?'active':'inactive'"> <a (click)="selectedwallet = 'Matching'">Matching</a></li>
              <li [class]="selectedwallet === 'Additionalsc'?'active':'inactive'"><a (click)="selectedwallet = 'Additionalsc'">Additional Search Criteria</a></li>
            </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" *ngIf="selectedwallet === 'Kundeoplysniger'">
              <form class="formboxadditional">
                <h4 class="pull-left">Individual Information
                </h4>
                <div class="pull-right">
                  <button type="button" class="btn btn-outline-info">Reset</button>
                </div>
                <div class="clearfix"></div>
                <hr class="style2">
                <div class="form-group">
                  <label class="col-form-label">Company</label>
                  <input type="text" class="form-control txtsize">
                  <app-addcustomer></app-addcustomer>
                </div>
                <div class="form-group">
                  <label class="col-form-label">Business</label>
                  <input type="text" class="form-control">
                </div>
                <div class="form-group">
                  <label class="col-form-label">Address</label>
                  <input type="text" class="form-control">
                </div>
                <div class="form-group">
                  <label class="col-form-label">Postal code, City, Country</label>
                  <input type="text" class="form-control">
                  <app-addzipcode></app-addzipcode>
                </div>
                <div class="form-group">
                  <label class="col-form-label">Contact Person</label>
                  <input type="text" class="form-control">
                  <app-contactperson></app-contactperson>
                </div>
                <div class="form-group">
                  <label class="col-form-label">Afedeling</label>
                  <input type="text" class="form-control">
                </div>
                <div class="form-group">
                  <label class="col-form-label">Steling</label>
                  <input type="text" class="form-control">
                </div>
                <div class="form-group">
                  <label class="col-form-label">Email</label>
                  <input type="text" class="form-control">
                </div>
                <div class="form-group">
                  <label class="col-form-label">Telephone</label>
                  <input type="text" class="form-control">
                </div>
                <div class="form-group">
                  <label class="col-form-label">Mobile</label>
                  <input type="text" class="form-control">
                </div>
                <br>
                <h6 class="FormH6">Reference</h6>
                <hr class="style2">

                <div class="form-group">
                  <label class="col-form-label">Referred by</label>
                  <input type="text" class="form-control">
                </div>

                <div class="form-group">
                  <label class="col-form-label">Refers</label>
                  <select id="inputState" class="form-control txtsize">
                    <option selected="selected">Choose...</option>
                    <option>...</option>
                  </select>
                </div>
                <div class="form-group">
                  <label class="col-form-label">Where do you know us?</label>
                  <select id="inputState" class="form-control txtsize">
                    <option selected="selected">Choose...</option>
                    <option>...</option>
                  </select>
                </div>
                <div class="form-group">
                  <label class="col-form-label">Lead Origin</label>
                  <select id="inputState" class="form-control txtsize">
                    <option selected="selected">Choose...</option>
                    <option>...</option>
                  </select>
                </div>


              </form>

            </div>
            <div role="tabpane2" *ngIf="selectedwallet === 'Eventdetaljer'">

              <form class="formbox">
                <h6 class="FormH6">Dato og tidspunkt</h6>
                <hr class="style2">
                <div class="form-group">
                  <label class="col-form-label">Ankomst</label>
                  <input type="date" class="form-control">
                </div>
                <div class="form-group">
                  <label class="col-form-label">Afrejse</label>
                  <input type="date" class="form-control">
                </div>
                <div class="form-group">
                  <label class="col-form-label">Datoerne er fleksible</label>
                  <input type="checkbox">

                </div>
                <div class="form-group">
                  <label class="col-form-label">Intern historik</label>
                  <textarea class="form-control" rows="5" id="comment"></textarea>
                  <span class="interhis">Intern historik</span>
                </div>

                <h6 class="FormH6">Ønsket geografisk område</h6>
                <hr class="style2">
                <div class="form-group">
                  <label class="col-form-label">Region/landsdel</label>
                  <div class="radiocheckbox">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="">
                      <label class="form-check-label"> Region 1 </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="">
                      <label class="form-check-label">Region 2</label>
                    </div>
                  </div>
                </div>

                <h6 class="FormH6">Eventtype og formal</h6>
                <hr class="style2">
                <div class="form-group">
                  <div class="form-group">
                    <label class="col-form-label">Formal</label>
                    <select id="Select1" class="form-control txtsize">
                      <option selected="selected">Choose...</option>
                      <option>...</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <div class="form-group">
                    <label class="col-form-label">Deltagere</label>
                    <select id="Select2" class="form-control txtsize">
                      <option selected="selected">Choose...</option>
                      <option>...</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-form-label">Antal Deltagere</label>
                  <input type="text" class="form-control">
                </div>
                <div class="form-group">
                  <label class="col-form-label">Værelser</label>
                  <div class="width80per">
                    <div class="row">
                      <div class="col-sm-6 ">
                        <label>Antal enkeltVærelser</label>
                        <input type="text" class="form-control InlineInput">
                      </div>
                      <div class="col-sm-6 ">
                        <label>Antal dobbeltVærelser</label>
                        <input type="text" class="form-control InlineInput">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-form-label">Bordopstilling i plenum</label>
                  <select id="Select3" class="form-control txtsize">
                    <option selected="selected">Choose...</option>
                    <option>...</option>
                  </select>
                </div>
                <h6 class="FormH6">Kommentarer</h6>
                <hr class="style2">
                <div class="form-group">
                  <label class="col-form-label">Supplerende Ønsker/Kommentarer </label>
                  <textarea class="form-control" rows="5" id="Textarea1"></textarea>
                  <span class="clear"></span>
                </div>
                <h6 class="FormH6">Lokaler og bordopstilling</h6>
                <hr class="style2">
                <div class="form-group">
                  <label class="col-form-label">Arrangementtype</label>
                  <div class="width80per">
                    <ul>
                      <li>
                        <label> Kursuspakke</label>
                        <input type="text" class="form-control">
                      </li>
                      <li>
                        <label>Antal deltagere</label>
                        <input type="text" class="form-control">
                      </li>
                      <li>
                        <label>Fra</label>
                        <input type="text" class="form-control">
                      </li>
                      <li>
                        <label>Til</label>
                        <input type="text" class="form-control">
                      </li>
                      <li>
                       <a (click)="addFieldValue()"><i class="fa fa-plus"></i>Add new row</a> 
                        <!-- <button class="btn btn-default" type="button" (click)="addFieldValue()">Add</button> -->
                      </li>
                    </ul>

                    <ul *ngFor="let ObjArrangementtype of Arrangementtype; let i = index">
                        <li>
                         
                          <input type="text" class="form-control">
                        </li>
                        <li>
                          
                          <input type="text" class="form-control">
                        </li>
                        <li>
                          
                          <input type="text" class="form-control">
                        </li>
                        <li>
                         
                          <input type="text" class="form-control">
                        </li>
                        <li>
                            <button class="btn btn-default"  type="button" (click)="deleteFieldValue(i)">Delete</button>
                            
                        </li>
                      </ul>
                  </div>
                  <!-- <div class="width80per">
                      <table class="table table-bordered">
                          <thead>
                              <tr>
                                  <th>Kursuspakke</th>
                                  <th>Antal deltagere</th>
                                  <th>Fra</th>
                                  <th>Til</th>
                                  <th>Action</th>
                              </tr>
                          </thead>
                          <tbody>
                            
                              <tr *ngFor="let ObjArrangementtype of Arrangementtype; let i = index">
                                  <td>
                                      <input [(ngModel)]="ObjArrangementtype.Kursuspakke" class="form-control" type="text" name="{{ObjArrangementtype.Kursuspakke}}" />
                                  </td>
                                  <td>
                                      <input [(ngModel)]="ObjArrangementtype.Antaldeltagere" class="form-control" type="text" name="{{ObjArrangementtype.Antaldeltagere}}" />
                                  </td>
                                  <td>
                                      <input [(ngModel)]="ObjArrangementtype.Fra" class="form-control" type="text" name="{{ObjArrangementtype.Fra}}" />
                                  </td>
                                  <td>
                                      <input [(ngModel)]="ObjArrangementtype.Til" class="form-control" type="text" name="{{ObjArrangementtype.Til}}" />
                                  </td>
                                  <td>
                                      <button class="btn btn-default"  type="button" (click)="deleteFieldValue(i)">Delete</button>
                                  </td>
                              </tr>
                              <tr>
                                  <td>
                                      <input class="form-control" type="text" id="newAttributeCode" [(ngModel)]="newAttribute.Kursuspakke" name="newAttributeKursuspakke" />
                                  </td>
                                  <td>
                                      <input class="form-control" type="text" id="newAttributeName" [(ngModel)]="newAttribute.Antaldeltagere" name="newAttributeAntaldeltagere" />
                                  </td>
                                  <td>
                                      <input class="form-control" type="text" id="newAttributePrice" [(ngModel)]="newAttribute.Fra" name="newAttributeFra" />
                                  </td>
                                  <td>
                                      <input class="form-control" type="text" id="newAttributePrice" [(ngModel)]="newAttribute.Til" name="newAttributeTil" />
                                  </td>
                                  <td>
                                      <button class="btn btn-default" type="button" (click)="addFieldValue()">Add</button>
                                  </td>
                              </tr>
                          </tbody>
                      </table>
                    </div> -->
                </div>
                <div class="form-group">
                  <label class="col-form-label">Lokaler</label>
                  <div class="width80per">
                    <ul>
                      <li>
                        <label> Lokaletype</label>
                        <input type="text" class="form-control">
                      </li>
                      <li>
                        <label>Antal lokaler</label>
                        <input type="text" class="form-control">
                      </li>
                      <li>
                        <label>a personer</label>
                        <input type="text" class="form-control">
                      </li>
                      <li>
                        <label>Bordopstilling</label>
                        <input type="text" class="form-control">
                      </li>
                      <li>
                        <label>Fra</label>
                        <input type="text" class="form-control">
                      </li>
                      <li>
                        <label>Til</label>
                        <input type="text" class="form-control">
                      </li>
                      <li>
                        <i class="fa fa-plus"></i>Add new row
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-form-label"> opgiv ogs pris pa</label>
                  <div class="width80per">
                    <ul>
                      <li>
                        <label> Beskrivelse</label>
                        <input type="text" class="form-control">
                      </li>
                      <li>
                        <label>Anta(stk.)</label>
                        <input type="text" class="form-control">
                      </li>
                      <li>
                        <i class="fa fa-plus"></i>Add new row
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-form-label">Bookingansvarling</label>
                  <input type="text" class="form-control">
                </div>
                <div class="form-group mtop40">
                  <button type="submit" class="btn btn-danger mright50">Previous</button>
                  <button type="submit" class="btn btn-success">Next</button>
                </div>
              </form>
            </div>
            <div role="tabpane3" *ngIf="selectedwallet === 'Matching'">
              <form class="formbox">
                <h6 class="FormH6">Cener-matching</h6>
                <hr class="style2">
                <div class="form-group">
                  <label class="col-form-label">Sogeresultater</label>
                  <input type="checkbox">

                </div>
                <div class="form-group">
                  <label class="col-form-label">Statsaftale</label>
                  <input type="checkbox">

                </div>
                <div class="form-group">
                  <label class="col-form-label">Regionsaftable</label>
                  <input type="checkbox">

                </div>
                <div class="form-group">
                  <label class="col-form-label">Partner Type</label>
                  <select id="Select4" class="form-control txtsize">
                    <option selected="selected">Choose...</option>
                    <option>...</option>
                  </select>
                </div>

              </form>
            </div>
            <div role="tabpane4" *ngIf="selectedwallet === 'Additionalsc'">
              <form class="formbox">
                <h6 class="FormH6">Search Criteria</h6>
                <hr class="style2">
                <div class="form-group">
                  <label class="col-form-label">Region/landsdel</label>
                  <input type="checkbox">search 1<br />
                  <input type="checkbox">search 2<br />
                  <!--Need to iterate data using ng repeat-->

                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>