html,
body {
    min-height: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: #8a8a8a;
    font-weight: 300;
    background: #eee;
}

a,
a:visited {
    color: #8a8a8a;
}

a:hover,
a:visited,
a:active {
    text-decoration: none!important;
}

a:focus,
a:hover {
    color: #23527c;
}

.row.same-height .panel-footer {
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
}

.navbar-top {
    z-index: 999;
    color: #8a8a8a;
    border-width: 0;
    top: 0;
    position: fixed;
    width: inherit;
    left: 250px;
    right: 0px;
    height: 50px;
    margin-bottom: 0px;
    padding: 0;
    background-color: #eb6100;
}

.usertop .dropdown-toggle {
    font-size: 12px;
    font-weight: bold;
    padding: 0;
    background: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
}

.usertop .dropdown-toggle img {
    width: 40px;
}

.navbar-top .dropdown-menu li a {
    color: #484848;
    padding: 10px;
    border-bottom: 1px #e8e8e8 solid;
}

.navbar-top .dropdown-menu {
    padding: 0px;
    border: none;
    border-radius: 0px;
    font-size: 12px;
}

.collapsebtn .show-hide-sidebar {
    width: 100%;
    text-align: left;
    font-size: 14px;
    padding-left: 15px;
}

.collapsebtn .show-hide-sidebar:hover {
    background-color: #5479aa;
    color: #ffffff;
}

.collapsebtn .show-hide-sidebar.show-sidebar {
    display: none;
}

.collapsebtn .show-hide-sidebar.hide-sidebar {
    display: inline-block !important;
    color: #000;
    background: #fafafa;
}

.collapsebtn {
    position: fixed;
    bottom: 0;
    border-top: 1px #ccc solid;
    width: 250px;
    z-index: 9999;
}

.collapsebtn .fa {
    font-size: 20px;
}

#logo-container {
    background: #eb6100;
    height: 50px;
    top: 0px;
    left: 0px;
    width: 250px;
    text-align: left;
    position: fixed;
    z-index: 999;
    box-shadow: 0px 2px 4px #ccc;
    overflow: hidden;
}

#logo-container a {
    padding: 0px 0px 0px 15px;
    position: relative;
    display: block;
}

#logo-container a img.big-logo {
    position: relative;
    max-width: 100%;
    width: auto;
    margin-top: 0px;
    height: auto;
    max-height: 50px;
}

#logo-container a img.small-logo {
    display: none;
    width: 30px;
}

#logo-container h3 {
    margin: 0;
    line-height: 50px;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
}

.menu-right #logo-container {
    right: 0px;
    left: auto;
    z-index: 99;
}

#sidebar {
    color: #fff;
    background: #fafafa;
    padding: 0px;
    padding-top: 0px;
    margin: 0px;
    position: fixed;
    left: 0px;
    width: 250px;
    top: 50px;
    bottom: 0px;
    overflow: auto;
    overflow-x: hidden;
}

#sidebar:before {
    content: "";
    position: absolute;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .4);
    -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .4);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
    width: 247px;
    height: 100%;
    z-index: 0;
}

#sidebar li {
    display: block;
    width: 100%;
    position: relative;
}
timepicker tr.text-center{
    display: none;
}
#sidebar a {
    display: block;
    width: 100%;
    -webkit-transition: background-color 100ms linear;
    -moz-transition: background-color 100ms linear;
    -o-transition: background-color 100ms linear;
    transition: background-color 100ms linear;
    -webkit-transition: color 100ms linear;
    -moz-transition: color 100ms linear;
    -o-transition: color 100ms linear;
    transition: color 100ms linear;
    font-size: 14px;
    background-color: transparent;
    margin: 0px;
    padding: 10px 15px;
    color: #707070;
    font-weight: 400;
    border-bottom: 1px #dadada solid;
    border-left: 4px solid transparent;
}

#sidebar a>i {
    -webkit-transition: all 100ms linear;
    -moz-transition: all 100ms linear;
    -o-transition: all 100ms linear;
    transition: all 100ms linear;
    position: absolute;
    font-size: 19px;
    margin-top: -2px;
}

#sidebar a>i.has-submenu {
    position: relative;
    font-size: 18px;
    margin-top: 0px;
    margin-left: 5px;
}

#sidebar a>span {
    padding-left: 35px;
}

#sidebar a.active>i.has-submenu,
#sidebar .nav li>a.active ul.nav-sabmenu li a i,
#sidebar .nav-submenu a.active_submenu i {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}

#sidebar .nav li:hover {
    background-color: transparent;
    color: #ffffff;
}

#sidebar .nav li>a:hover,
#sidebar .nav li>a.active {
    border-left: 4px #eb6100 solid;
}

#sidebar .nav li>a:hover i,
#sidebar .nav li>a.active i,
#sidebar a.active_submenu {
    color: #eb6100;
}

#sidebar>.nav {
    margin-bottom: 50px;
}

#sidebar .nav-submenu,
#sidebar .nav-subsubmenu {
    background-color: #f0f0f0;
    -webkit-box-shadow: inset 0 4px 4px -2px rgba(0, 0, 0, .15), inset 0 -4px 4px -2px rgba(0, 0, 0, .15);
    -moz-box-shadow: inset 0 4px 4px -2px rgba(0, 0, 0, .15), inset 0 -4px 4px -2px rgba(0, 0, 0, .15);
    color: #737373;
    width: 252px;
    position: relative;
}

#sidebar ul.nav-submenu:before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    left: 19px;
    top: 0;
    bottom: 19px;
    border-left: 1px solid #e2e2e2;
}

#sidebar .nav-submenu a {
    color: #707070;
    padding: 6px 10px 6px 30px;
    font-size: 13px;
    border: none;
    height: 38px;
    line-height: 30px;
    border-left: 4px solid transparent;
}

#sidebar .nav-submenu a:before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 5px;
    height: 5px;
    left: 17px;
    top: 19px;
    background-color: #fff;
    border: 1px solid #e2e2e2;
    z-index: 2;
}

#sidebar .subsubmenu a:before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 5px;
    height: 5px;
    left: 1px;
    top: 13px;
    background-color: #fff;
    border: 1px solid #e2e2e2;
    z-index: 2;
}

#sidebar .nav-submenu a.active_submenu {
    color: #eba74e !important;
}

#sidebar .progress {
    background-color: #131e30;
}

#sidebar .nav-submenu.submenu-hidden {
    display: none;
}

#sidebar .subsubmenu {
    display: none;
    margin-left: 20px;
}

.collapsed-sidebar #sidebar .nav>li>ul ul {
    display: none;
    margin-left: 0px;
}

#sidebar .subsubmenu li {
    position: relative;
}

#sidebar .subsubmenu li a {
    display: block;
    padding: 0px 10px 0px 20px;
    height: 30px;
}

#sidebar .nav li.dropdwonactive ul {
    display: block;
}

.menu-right #sidebar {
    left: auto;
    right: 0px;
    width: 250px;
    top: 50px;
    bottom: 0px;
}

#main-nav {
    margin-bottom: 50px;
}

#sm-menu {
    width: 50px;
}

.nav-down {
    display: none;
}

.dropdown-subnav {
    display: none;
}

.dropdown-subnav.active {
    display: block;
}

.dropdown-subnav li {
    position: relative;
    margin-left: 18px;
}

#sidebar .nav-submenu .dropdown-subnav li a:before {
    top: 13px;
}

#sidebar .nav-submenu a.subnav-title {
    color: #737373 !important;
}

#sidebar .nav-submenu a.subnav-title i {
    -webkit-transform: rotate(0deg);
    color: #737373;
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
}

#sidebar .nav-submenu a.subnav-title.current {
    color: #eba74e !important;
}

#sidebar .nav-submenu a.subnav-title.current i {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    color: #eba74e;
}

.campaign_name_container {
    display: none;
}

.sidebar_scroll {
    direction: ltr;
}

.sidebarscroll {
    unicode-bidi: bidi-override;
    direction: rtl;
    overflow: scroll;
    overflow-x: hidden!important;
    height: 100%;
    margin-left: -17px;
}

.collapsed-sidebar .sidebarscroll {
    width: 290px;
}

.collapsed-sidebar .show-hide-sidebar.show-sidebar {
    display: inline-block;
    color: #000;
}

.collapsed-sidebar .show-hide-sidebar.hide-sidebar {
    display: none !important;
}

.collapsed-sidebar .collapsebtn {
    width: 50px;
}

.collapsed-sidebar #sidebar {
    width: 50px!important;
    overflow: visible!important;
    z-index: 10;
}

.collapsed-sidebar #sidebar:before {
    width: 47px;
}

.collapsed-sidebar #sidebar .slimScrollDiv {
    width: 50px!important;
    overflow: visible!important;
}

.collapsed-sidebar #sidebar .slimScrollDiv .sidebar_scroll {
    width: 50px!important;
    overflow: visible!important;
}

.collapsed-sidebar #sidebar:hover {
    z-index: 9998;
}

.collapsed-sidebar #sidebar .nav>li {
    height: 40px;
    width: 50px;
}

.collapsed-sidebar #sidebar ul.nav:before,
.collapsed-sidebar #sidebar .nav>li a:before {
    display: none;
}

.collapsed-sidebar #sidebar .nav>li a {
    height: 40px;
    width: 50px;
    padding: 14px;
}

.collapsed-sidebar #sidebar .nav>li a span {
    display: none;
}

.collapsed-sidebar #sidebar .nav>li a>i.has-submenu {
    display: none;
}

.collapsed-sidebar #sidebar .nav>li:hover {
    padding: 0px;
}

.collapsed-sidebar #sidebar .nav>li:hover i {
    z-index: 999!important;
    color: #eba74e;
}

.collapsed-sidebar #sidebar .nav>li:hover>a {
    width: 270px;
    display: block;
}

.collapsed-sidebar #sidebar .nav>li:hover>a>span {
    display: inline-block !important;
    padding-left: 48px;
    text-transform: uppercase;
    font-size: 12px;
    padding-top: 0px;
    background-color: #162439;
    color: #ffffff;
    width: 220px;
    position: absolute;
    left: 46px;
    padding-left: 13PX;
    top: 0px;
    bottom: 0px;
    padding-top: 12px;
}

.collapsed-sidebar #sidebar .nav>li:hover>a>span .label,
.collapsed-sidebar #sidebar .nav>li:hover>a>span .badge {
    display: none!important;
}

.collapsed-sidebar #sidebar .nav>li:hover>a>span.label,
.collapsed-sidebar #sidebar .nav>li:hover>a>span.badge {
    display: none!important;
}

.collapsed-sidebar #sidebar .nav>li:hover>ul.nav-submenu {
    display: block!important;
    z-index: 9998;
    position: absolute;
    width: 220px;
    left: 100%;
    top: 100%;
}

.collapsed-sidebar #sidebar .nav>li:hover>ul ul.dropdown-subnav {
    position: relative;
    width: 100%;
    left: 0;
    display: none;
}

.collapsed-sidebar #sidebar .nav>li:hover>ul ul li a {
    display: block;
}

.collapsed-sidebar #sidebar .nav.nav-submenu>li a {
    width: 220px;
    padding: 13px;
    line-height: 16px;
}

.collapsed-sidebar #sidebar .nav.nav-submenu>li a.subsubdown i {
    display: block;
}

.collapsed-sidebar #sidebar .nav>li ul li {
    width: 100%;
    height: auto;
}

.collapsed-sidebar #main-nav {
    width: 50px;
}

.collapsed-sidebar #playground {
    left: 50px;
    z-index: 99;
    overflow: visible;
}

.nav {
    border: none;
}

th {
    font-weight: 400;
}

b,
strong,
dt,
label {
    font-weight: 400;
}

#use-video {
    display: none;
}

#redo-video {
    display: none;
}

.action-btn-record {
    margin-top: 10px;
    margin-right: 40px;
}

.testimonialpopup .alertpopup {
    position: fixed;
}

.recordusethis input[type=button] {
    display: inline-block;
    background-color: #699e3e;
    border: 0;
    border-radius: 4px;
    padding: 7px 10px;
    font-size: 15px;
    font-weight: bold;
    float: right;
    color: #FFF;
    margin-top: 10px;
}

#record-demo-video .modal-dialog {
    width: 518px;
}
.content-header {
    position: relative;
    padding: 40px 15px 0 15px;
}
.content-header>.breadcrumb {
    float: right;
    background: transparent;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    padding: 7px 5px;
    position: absolute;
    top: 15px;
    /* right: 10px; */
    border-radius: 2px;
}
.content-header>.breadcrumb>li+li:before {
    content: '>\00a0';
}
.breadcrumb>li+li:before {
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0";
}

.breadcrumb>.active {
    color: #777;
}

.breadcrumb>li {
    display: inline-block;
}
.breadcrumb {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;

    
}

.list-group {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

.list-group-item:first-child {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
}

.list-group-item:last-child {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
}

.panel>.list-group:last-child .list-group-item:last-child,
.panel>.panel-collapse>.list-group:last-child .list-group-item:last-child {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
}

#playground {
    display: block;
    overflow: auto;
    position: absolute;
    left: 250px;
    right: 0px;
    min-height: 100%;
    background: #f4f6f9;
    padding-top: 50px;
    padding-bottom: 5px;
}

@media (max-width:991px) {
    #sidebar:before {
        width: 50px;
    }
    #playground {
        left: 50px;
    }
    .navbar-top {
        left: 200px;
    }
    #logo-container {
        height: 50px;
        top: 0px;
        width: 200px;
        text-align: center;
        padding-top: 4px;
        padding-left: 9px;
        position: fixed;
    }
    #logo-container a img.big-logo {
        margin-top: 0px;
    }
    #logo-container a {
        display: block;
        text-align: left;
    }
    #sidebar .nav-submenu.submenu-hidden {
        display: none;
    }
    .collapsed-sidebar #sidebar {
        width: 250px!important;
        z-index: 999;
    }
    .collapsed-sidebar #sidebar:before {
        width: 250px;
    }
    .collapsed-sidebar #sidebar .slimScrollDiv,
    .collapsed-sidebar #sidebar .slimScrollDiv .sidebar_scroll {
        width: 250px!important;
        overflow: hidden !important;
    }
    .collapsed-sidebar #main-nav,
    .collapsed-sidebar #sidebar .nav>li,
    .collapsed-sidebar #sidebar .nav>li a {
        width: 250px;
    }
    .collapsed-sidebar #sidebar .nav>li a {
        padding: 10px 15px;
    }
    .collapsed-sidebar #sidebar .nav>li a span {
        display: inline-block;
    }
    .collapsed-sidebar #sidebar .nav>li:hover>a>span {
        width: 200px;
    }
    .collapsed-sidebar #sidebar .nav>li:hover>a {
        width: 250px;
    }
    .collapsed-sidebar #sidebar .nav.nav-submenu>li a {
        width: 250px;
    }
    .collapsed-sidebar #sidebar .nav>li a>i.has-submenu {
        display: block;
    }
    .collapsed-sidebar #sidebar .nav>li:hover>ul.nav-submenu {
        display: block;
        z-index: 0;
        position: relative;
        width: 250px;
        left: 0;
        top: 0;
    }
    .collapsed-sidebar #sidebar .nav>ul.nav-submenu>li:hover {
        padding: 0px;
        height: auto;
    }
    .collapsed-sidebar #sidebar .nav>li:hover {
        padding: 0px;
        height: auto;
        position: relative;
    }
    #sidebar .nav>li:hover>ul li {
        width: 100%;
        height: auto;
    }
    #sidebar .nav>li:hover>ul li .dropdown-subnav,
    .collapsed-sidebar #sidebar .nav>li>ul li:hover ul {
        display: none;
        position: relative;
        left: 0;
        top: 0;
    }
    #sidebar .nav>li:hover>ul li .dropdown-subnav.active {
        position: relative;
        top: 0;
        left: 0;
        width: 250px;
    }
    .collapsed-sidebar #sidebar .nav>li>ul ul.dropdown-subnav.active {
        display: block;
    }
    .sidebarscroll {
        z-index: -1;
        width: 280px;
        margin-left: 0px;
    }
    #sidebar {
        width: 50px!important;
        overflow: visible!important;
        z-index: 0;
    }
    #sidebar .slimScrollDiv {
        width: 50px!important;
        overflow: visible!important;
    }
    #sidebar .slimScrollDiv .sidebar_scroll {
        width: 50px!important;
        overflow: visible!important;
    }
    #sidebar:hover {
        z-index: 9998;
    }
    #sidebar .welcome,
    #sidebar .separator,
    #sidebar .sidebar-title,
    #sidebar .widget {
        display: none;
    }
    #sidebar .nav>li {
        height: 40px;
        width: 50px;
    }
    #sidebar .nav>li a {
        height: 40px;
        width: 50px;
        padding: 14px;
    }
    #sidebar .nav>li a span {
        display: none;
    }
    #sidebar .nav>li a>i.has-submenu {
        display: none;
    }
    #sidebar .nav>li:hover {
        padding: 0px;
    }
    #sidebar .nav>li:hover i {
        z-index: 999!important;
        color: #eba74e;
    }
    #sidebar .nav>li:hover>a {
        width: 200px;
        display: block;
    }
    #sidebar .nav>li:hover>a>span {
        display: inline-block !important;
        padding-left: 48px;
        text-transform: uppercase;
        font-size: 12px;
        padding-top: 0px;
        background-color: #162439;
        color: #ffffff;
        width: 215px;
        position: absolute;
        left: 46px;
        padding-left: 13PX;
        top: 0px;
        bottom: 0px;
        padding-top: 12px;
    }
    #sidebar .nav>li:hover>a>span .label,
    #sidebar .nav>li:hover>a>span .badge {
        display: none!important;
    }
    #sidebar .nav>li:hover>a>span.label,
    #sidebar .nav>li:hover>a>span.badge {
        display: none!important;
    }
    #sidebar .nav>li:hover>ul {
        display: block;
        z-index: 9998;
        position: absolute;
        width: 215px;
        left: 100%;
        top: 100%;
    }
    #sidebar .nav.nav-submenu>li a {
        width: 215px;
        padding: 7px 13px 13px 24px;
    }
    #main-nav {
        width: 70px;
    }
    .menu-right #sidebar {
        right: 0px;
        width: 50px;
    }
}

.usertop {
    position: relative;
}

.usertop .userdrop {
    float: left;
    margin-top: 12px;
    margin-left: 20px;
}

.usertop .navbar {
    float: left;
}

.usertop .navbar ul li a {
    color: #fff !important;
    font-size: 12px;
    font-weight: bold;
}

.dropdown-subnav {
    display: none;
}

#breadcrumb-title {
    position: relative;
    background: #f3f3f3;
    min-height: 40px;
    line-height: 39px;
    padding: 0;
    display: block;
    z-index: 1;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .15);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .15);
}

#breadcrumb-title .breadcrumb {
    padding: 0px;
    float: left;
    margin-bottom: 0px;
}

footer {
    display: block;
    clear: both;
    width: 100%;
    position: relative;
    padding: 15px;
}

footer p {
    margin: 0px;
    text-align: center;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.content-area {
    margin-top: 15px;
    display: block;
    clear: both;
    position: relative;
    width: 100%;
}

.content-textarea {
    display: block;
    min-height: 400px;
}

.navbar-top .navbar-default {
    background-color: transparent;
    border-color: transparent;
    float: right;
    margin-bottom: 0;
    margin-right: 50px;
}

.navbar-top .navbar-default .navbar-nav>li>a {
    color: #efefef;
    font-size: 16px;
}

.dbkstabs .nav-tabs {
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

.dbkstabs .nav-tabs li {
    width: 33.33%; 
   line-height: 28px;
    text-align: center;
}
.dbkbsNuminput {
    width: 366px;
}

.dbkstabs .nav-tabs li a,
.bookingdetailtabs .nav-tabs li a {
    font-size: 14px;
    cursor: pointer;
    background: transparent;
    color: #000;
    border-radius: 0;
    border-color: #e4e4e4;border-bottom: 0;
}

.dbkstabs .nav-tabs li.active a,
.bookingdetailtabs .nav-tabs li.active a{
    color: #fff;
    background-color: #eb6100;
    border-color: #eb6100 #eb6100 #fff;
   
    font-weight: normal;
}
.bookingdetailtabs .nav-tabs li{width:20%; line-height: 28px;text-align: center;}
.bookingdetailtabs .nav-tabs li:nth-child(4),
.bookingdetailtabs .nav-tabs li:nth-child(5){width:10%;}
.bookingdetailtabs .nav-tabs li:nth-child(6) a{line-height: normal;padding: 3px 7px;}
.bookingdetailtabs .nav-tabs li a{    padding: 0.5rem 5px;}
.bookingdetailtabs .nav-tabs li.active a{}

.dbkstabs .tab-content {
    width: 100%;
   
}
.style2{
    margin-bottom: 3px;
    margin-top: 3px;
}

.formbox {
    display: block;
    background: #fff;
    width: 100%;
}

form h4 {
    font-size: 21px;
    color: #2e2e2e;
    font-weight: 600;
}

.formbox .form-group {
    display: block;
    clear: both;
    position: relative;
    width: 100%;
    min-height: 37px;
}

.formbox .form-group label {
    float: left;
    width: 20%;
    font-size: 14px;
    font-weight: 600;
    color: #000;
}

.formbox .form-group input,
.formbox .form-group select,
.formbox .form-group textarea,
.formbox .form-group .radiocheckbox,
.formbox .form-group .width80per,
.formbox .form-group .datetimediv {
    float: left;
    width: 80%;
    margin-right: 0px;
}

.formbox .form-group .width18per {
    float: left;
    width: 18%;
    margin-right: 0px;
}



.formbox .form-group input[type="checkbox"],
.formbox .form-group input[type="radio"] {
    float: left;
    width: auto;
    margin-right: 0px;
    margin-top: 12px;
}
.dbkstabs,.bookingdetailtabs{margin:15px auto 50px;}
.formboxadditional {
    display: block;
    width: 100%;
    margin: auto;
   
}
.formboxadditional .card,
.bookingdetailtabs .card{box-shadow: 0 4px 8px rgba(0, 0, 0, 0.03); background-color: #fff; border-radius: 3px;  border: none; position: relative;margin-bottom: 30px;}
.formboxadditional .card-header,
.bookingdetailtabs .card-header{ background: #fff;border-bottom-color: #f9f9f9; color: #eb6100; font-weight: 700;padding: 1.25rem;}
.formboxadditional .card-body label,
.bookingdetailtabs .card-body label{display: block;width: 100%;    font-weight: 600; color: #34395e; font-size: 12px;letter-spacing: .5px;}
.formboxadditional .arrivedepart .form-group .dpicker{width:180px;margin-right:10px;}
.formboxadditional .arrivedepart .widthtimepicker {}
.formboxadditional .arrivedepart .widthtimepicker table td:nth-child(4),
.fullpackages ul li .widthtimepicker table td:nth-child(4){display: none;}
.formboxadditional .arrivedepart  table td button,
.fullpackages ul li table td button{padding:0px 5px;}
.formboxadditional  .checkboxlabel{margin:20px 0px !important;}
.formboxadditional  .internalhistory label,
.formboxadditional  .checkboxlabel label{ display: inline-block;width: auto;float: left;margin-right: 40px;padding: 9px 0;}
.formboxadditional  .internalhistory input{width:80%;}
.formboxadditional .form-row{margin-bottom: 30px;}


.formboxadditional .form-group {
    display: block;
    clear: both;
    position: relative;
    width: 100%;
    min-height: 37px;
    margin-bottom: 0px;
}
.formboxadditional .form-group input[type="checkbox"],
.formboxadditional .form-group input[type="radio"] {
    float: left;
    width: auto;
    margin-right: 0px;
    margin-top: 0;
}
.formboxadditional .form-group input,
.formboxadditional .form-group select {
    float: left;
    height: 37px;
    padding: 3px 8px;
    font-size: 13px;
}
.fullpackages ul{min-height:72px;clear: both;}
.fullpackages ul li{float: left;margin-left:1%;}
.fullpackages ul li:nth-child(1){margin-left:0px;}
.fullpackages ul li:nth-child(1),
.fullpackages ul li:nth-child(2){width:15%;}
.fullpackages ul li:nth-child(3),
.fullpackages ul li:nth-child(4){width:30%;}
.fullpackages ul li input,
.fullpackages ul li select{padding:0.375rem 8px;}
.fullpackages ul li .lbl,
.yourprizefiled  ul li .lbl{font-weight: 600;color: #34395e;font-size: 12px;}
.fullpackages.roompkgs ul li:nth-child(4){width:12%;}
.fullpackages.roompkgs ul li:nth-child(6){width:22%;}
.fullpackages.roompkgs ul li:nth-child(7){margin-left: 0}
.formboxadditional .bs-timepicker-field { width: 34px;  padding: 3px 1px !important;}
.fullpackages.roompkgs ul li .dpicker{width:45%;} 
.fullpackages ul li button{padding:0;}
.delbtn{padding: 0px !important;}
.yourprizefiled{margin-top:50px;}
.yourprizefiled .sidelbl{width:25%;float: left;}
.yourprizefiled  ul{margin-left: 25%;width:75%;min-height:70px;}
.yourprizefiled  ul.repeatul{min-height: 50px;}
.yourprizefiled  ul li{width:40%;margin-left: 2%;float: left;}
.yourprizefiled  ul li:nth-child(3){width:8%;}
.yourprizefiled  ul .li:first-child{margin-left:0px;}
.yourprizefiled .addrownew{width:88%;}
.compinfosec .row{margin-bottom: 30px;}
.nextpreviousbtn{display: block;width:100%;clear: both; text-align:right;}
.nextpreviousbtn .btn{ padding: 0.375rem 0.75rem; font-size: 1rem;  line-height: 1.5; border-radius: 0.25rem; font-weight: 400; width: 100px;  text-align-last: center;}
.nextpreviousbtn .btn-outline-warning{border-color:#eb6100; color:#eb6100;}
.nextpreviousbtn .btn-outline-warning:hover{background-color:#eb6100;color:#fff;}
.card-body .form-group .radiocheckbox .form-check {padding-left: 0;}


.formbox .form-group textarea{ margin-bottom: 10px;}



.width80per select {
    width: 100% !important;
}



.modal-body .formbox {
    display: block;
    width: 100%;
    max-width: 819px;
    padding: 0px;
    margin: auto;
    background: #fff;
}

.modal-body .formbox .form-group {
    display: block;
    clear: both;
    position: relative;
    width: 100%;
    min-height: 37px;
}

.modal-body .formbox .form-group label {
    float: left;
    width: 20%;
}

.modal-body .formbox .form-group input,
.modal-body .formbox .form-group select {
    float: left;
    width: 80%;
    margin-right: 0px;
}

.modal-body .formbox .form-group input[type="checkbox"],
.modal-body .formbox .form-group input[type="radio"] {
    float: left;
    width: auto;
    margin-right: 0px;
}

.mtop40 {
    margin-top: 40px;
}

.mright50 {
    margin-right: 50px;
}

.mright7 {
    margin-right: 7px;
}

.clear {
    clear: both;
    display: block;
}

.height20 {
    display: block;
    width: 100%;
    clear: both;
    height: 20px;
}

.padright75 {
    padding-right: 75px;
}

.interhis {
    margin-left: 20%;
    font-size: 14px;
}

.form-group .radiocheckbox .form-check {
    margin: 7px 0 10px;
}

.form-group .radiocheckbox input[type="checkbox"],
.form-group .radiocheckbox input[type="radio"] {
    margin-top: 0.3rem;
}
/*
.formbox .form-group .radiocheckbox label {
    width: auto;
    float: initial;
}
.formbox .form-group .fullpackages {width:100%;float:left;margin-bottom: 15px;}
.formbox .form-group  .fullpackages label,
.formbox .form-group .fullpackages input[type="text"] {width: 100%; font-size: 12px;}
.formbox .form-group .fullpackages .lbl { font-size: 12px;  font-weight: 600; color: #000; vertical-align: bottom; display: table-cell;}
.formbox .form-group .fullpackages .col-sm-2,
.formbox .form-group .fullpackages .col-sm-3 { padding: 0 5px;}
.formbox .form-group .fullpackages ul { margin: 0px 0px 0px 0px; padding: 0px;list-style: none;}
.formbox .form-group .fullpackages ul li {float: left; margin-left: 1%;
    margin-bottom: 10px;}
.formbox .form-group .fullpackages ul li:nth-child(1) {margin-left: 0px;}

.formbox .form-group .fullpackages ul li input, 
.formbox .form-group .fullpackages ul li select{width:100%;}
.formbox .form-group .fullpackages ul li:nth-child(1){width:11%;}
.formbox .form-group .fullpackages ul li:nth-child(2){width:11%;}
.formbox .form-group .fullpackages ul li:nth-child(3){width:34%;}
.formbox .form-group .fullpackages ul li:nth-child(4){width:34%;}
.formbox .form-group .fullpackages ul li .datetimediv{width:100%;}
.formbox .form-group .fullpackages ul li .datetimediv .dpicker{width:110px;margin-top:0px;
    margin-right: 10px;}
.formbox .form-group .fullpackages ul li .widthtimepicker { margin: -1px 0px -5px 0px; }
.formbox .form-group .fullpackages ul li .widthtimepicker table td:nth-child(4),
.arrivedepart .widthtimepicker table td:nth-child(4){display: none;}
.formbox .form-group .fullpackages ul li .datetimediv table td button,
.arrivedepart .datetimediv table td button{padding:0px 10px;}
.formbox .form-group .fullpackages ul li .widthtimepicker table td input{margin:0px;}

.formbox .form-group .fullpackages.roompkgs ul li:nth-child(3){width:10%;}
.formbox .form-group .fullpackages.roompkgs ul li:nth-child(4){width:10%;}
.formbox .form-group .fullpackages.roompkgs ul li:nth-child(5){width:19%;}
.formbox .form-group .fullpackages.roompkgs ul li:nth-child(6){width:34%;}
.formbox .form-group .fullpackages.roompkgs ul li:nth-child(7){width:10%;}
.formbox .form-group .fullpackages.yourprizefiled ul li:nth-child(1){width:40%;}
.formbox .form-group .fullpackages.yourprizefiled ul li:nth-child(2){width:20%}
.btnorange{background: #eb6100;color:#fff;}
.btnorange:hover{background: #d45a04;color: #fff;}

.formbox .form-group .fullpackages ul.repeatulrow {width: 100%;display: block; clear: both; height: 40px;}
.formbox .form-group .fullpackages ul.repeatulrow li{float: left;}
.formbox .form-group .fullpackages ul.repeatulrow li:nth-child(3),
.formbox .form-group .fullpackages ul.repeatulrow li:nth-child(4){width:20%;}
.formbox .form-group .width80per {
    margin-bottom: 15px;
}

.formbox .form-group .width80per label,
.formbox .form-group .width80per input[type="text"] {
    width: 100%;
    font-size: 12px;
}

.formbox .form-group .width80per .lbl {
    font-size: 12px;
    font-weight: 600;
    color: #000;
    height: 40px;
    vertical-align: bottom;
    display: table-cell;
}

.formbox .form-group .width80per .col-sm-2,
.formbox .form-group .width80per .col-sm-3 {
    padding: 0 5px;
}

.datetimediv table td button{height: 30px;line-height: 18px;
    font-size: 12px;
    font-weight: 500;}

.formbox .form-group .datetimediv .dpicker {
    width: 120px;height: 30px;
}
.lblmtop20{margin-top:20px;}

.formbox .form-group .datetimediv .widthtimepicker {
    float: left;
}

.formbox .form-group .datetimediv .widthtimepicker td.form-group {
    margin-bottom: 0px;
}

.formbox .form-group .datetimediv .widthtimepicker td input {
    width: 65px;height: 30px; margin-top: 3px;
}
*/



.accordion .card .card-header {
    padding: 0px;
}

.accordion .card .card-header h2 {
    font-size: 14px;
    cursor: pointer;
    padding: 5px 10px;
}

.accordion .card .card-header h2 .btn-link {
    color: #707070;
    text-decoration: none;
}

.accordion .card .card-body {
    overflow: auto;
    padding: 10px;
}

.accordion .card .card-body table {}

.accordion .card .card-body table thead {
    background: #f7f7f7;
    border: solid #f3f3f3 1px;
}

.accordion .card .card-body table thead th {
    font-size: 12px;
    padding: 5px;
}

.accordion .card .card-body table tbody {
    font-size: 12px;
}

.accordion .card .card-body table tbody td,
.accordion .card .card-body table tbody th {
    padding: 5px;
}

.newbooking {
    margin-bottom: 5px;
}

.newbooking a {
    font-size: 14px;
}


.formboxadditional .form-group .bookrespons{width:80%;margin:0px;}

.addrownew{display:block;width:100%;margin-top: 10px;clear: both;text-align:right;}
.addrownew i {margin-right: 5px; }
.addrownew a.btn{border-color:#eb6100;color:#eb6100;}
.addrownew a.btn:hover{background: #eb6100;color:#fff;}
.mbtm0{margin-bottom:0px !important;}
.fulllabel{display: block;width: 100%;}
.bookingdetailtabs .form-group{min-height: 40px;}
.bookingdetailtabs .form-group label{width:25%;float: left;}
.bookingdetailtabs .form-group input[type="text"],
.bookingdetailtabs .form-group input[type="email"],
.bookingdetailtabs .form-group input[type="tel"],
.bookingdetailtabs .form-group select,
.bookingdetailtabs .form-group textarea,
.bookingdetailtabs .form-group .labeltext,
.bookingdetailtabs .form-group  .radiocheckbox{width:75%;float: left;}
.bookingdetailtabs .table thead th,
.bookingdetailtabs .table tbody td,
.bookingdetailtabs .table tbody th{padding:5px;}
.packagediv{width: 100%;display: block;position: relative;}
.packagediv ul{min-height: 60px;}
.packagediv ul li{float: left;width: 24%;margin-left: 1.33%;}
.packagediv ul li:first-child{margin-left:0px;}
.packagediv ul li label,
.packagediv ul li .lbl{display: block; width: 100%; font-weight: 600;color: #34395e;font-size: 12px; letter-spacing: .5px;}
.bookingdetailtabs .form-group .packagediv ul li input,
.bookingdetailtabs .form-group .packagediv ul li  select{width:100%;}
.bookingdetailtabs .addrownew{margin-top:15px;}
.bookingdetailtabs .nextpreviousbtn button{margin-left:15px;width:auto;}
.widthtab{display:block;width:100%;position: relative;}


@media (max-width:1366px) {
    #sidebar .nav-submenu,
    #sidebar .nav-subsubmenu {
        width: 252px;
    }
}

@media (max-width:1199px) {


    .formboxadditional .arrivedepart .form-group .dpicker {width: 39%;margin-right: 5px;}
    .formboxadditional .internalhistory input {width: 73%;}
    .sidelabel{font-size: 14px;}
    .fullpackages ul li:nth-child(1), .fullpackages ul li:nth-child(2) {width: 49%;}
    .fullpackages ul li:nth-child(3), .fullpackages ul li:nth-child(4) {width: 50%; margin-left: 0;margin-top:10px;}
    .fullpackages ul {min-height: 150px;}
    .fullpackages.roompkgs ul li:nth-child(1),
    .fullpackages.roompkgs ul li:nth-child(2),
    .fullpackages.roompkgs ul li:nth-child(3),
    .fullpackages.roompkgs ul li:nth-child(4) {  width: 23.5%;margin: 0 0 20px 2%;}
    .fullpackages.roompkgs ul li:nth-child(1){margin-left:0px;}
    .fullpackages.roompkgs ul li:nth-child(5),
    .fullpackages.roompkgs ul li:nth-child(6){width:46%;margin-left: 0px;}
    .fullpackages.roompkgs ul li:nth-child(7){width:8%;margin-left:0px;text-align: center;}
    .fullpackages.roompkgs ul li .dpicker {width: 37%; }
    .fullpackages.roompkgs ul li:nth-child(7) .delbtn{margin-top:8px;}
    .yourprizefiled ul li {width: 43%;}
    .yourprizefiled .addrownew {width: 92%;}
    .bookingdetailtabs .table thead th, 
    .bookingdetailtabs .table tbody td, 
    .bookingdetailtabs .table tbody th {font-size: 13px; }
    .bookingdetailtabs .note[_ngcontent-c1] {margin: 0px 0 7px 0; padding-left: 10px;    }
    .bookingdetailtabs .nav-tabs li:nth-child(3) a,
    .bookingdetailtabs .nav-tabs li:nth-child(6) a{line-height: normal;   padding: 2px;   }


}
@media only screen and (min-width:992px) and (max-width:1199px) {

}
@media only screen and (min-width:768px) and (max-width:991px) {
    .dbkstabs {
        margin: 15px auto 50px;
        width: 590px;
        max-width: 590px;
        flex: 0 0 590px;
    }
}

@media (max-width:991px) {}

@media (max-width: 768px) {}

@media screen and (min-width: 768px) {}

@media (max-width: 767px) {
    #sidebar {left: -60px;}
    .collapsed-sidebar #sidebar {z-index: 999;}
    .collapsed-sidebar #sidebar,
    #playground,
    .collapsed-sidebar #playground {left: 0;}
    #logo-container {width: 175px;}
    .navbar-top {left: 176px;}
    .show-hide-sidebar { width: 33px; padding: 15px 5px;}
    .navbar-top .container-fluid {padding: 0 5px 0 1px;}
    .navbar-top .container-fluid .navbar-header {margin: 0px; float: left;}
    .navbar-top .container-fluid .navbar-top {float: right;}
    #breadcrumb-title .breadcrumb {width: 100%;overflow: hidden;text-overflow: ellipsis; white-space: nowrap;}
    .usertop .userdrop {margin-left: 0px;}
    .usertop .navbar {padding: 0; margin-right: 10px;}
    #logo-container a {padding: 0;}
    .dbkstabs .nav-tabs li a {padding: 6px 5px;  line-height: normal;  height: 53px; }
    .dbkstabs .nav-tabs li:nth-child(1) a,
    .dbkstabs .nav-tabs li:nth-child(3) a{line-height:40px;}
    .formboxadditional .internalhistory input { width: 100%;}
    .fullpackages ul li:nth-child(3), .fullpackages ul li:nth-child(4) {width: 100%; }
    .fullpackages label{font-size: 18px !important;border-bottom: 1px #ccc solid;margin-bottom:10px;}
    .fullpackages.roompkgs ul li:nth-child(1), 
    .fullpackages.roompkgs ul li:nth-child(2), 
    .fullpackages.roompkgs ul li:nth-child(3), 
    .fullpackages.roompkgs ul li:nth-child(4) { width: 49%; margin: 0 0 10px 0;}
    .fullpackages.roompkgs ul li:nth-child(2),
    .fullpackages.roompkgs ul li:nth-child(4){margin-left:2%;}
    .fullpackages.roompkgs ul li:nth-child(5), 
    .fullpackages.roompkgs ul li:nth-child(6) {width: 90%; }
    .fullpackages ul.repeatul{margin-top: 15px;}
    .yourprizefiled .sidelbl {width: 100%;}
    .yourprizefiled ul {margin-left: 0; width: 100%; min-height: 90px; }
    .yourprizefiled ul li {width: 45%; }
    .yourprizefiled ul li:nth-child(1){margin-left:0px;}
    .yourprizefiled ul li:nth-child(3) {width: 8%;margin-left: 0; text-align: center; }
    .yourprizefiled ul li:nth-child(3)  button{padding: 0px;margin-top:8px;}
    .compinfosec .row,
    .compinfosec .row .col-md-6 {margin-bottom: 20px;}
    .bookingdetailtabs .form-group label,
    .bookingdetailtabs .form-group input[type="text"], 
    .bookingdetailtabs .form-group input[type="email"], 
    .bookingdetailtabs .form-group input[type="tel"], 
    .bookingdetailtabs .form-group select, 
    .bookingdetailtabs .form-group textarea, 
    .bookingdetailtabs .form-group .labeltext, 
    .bookingdetailtabs .form-group .radiocheckbox { width: 100%;}
    .bookingdetailtabs .form-group {min-height: 70px; }
    .bookingdetailtabs .form-group.chkbox{min-height: 40px;}
    .bookingdetailtabs .form-group.chkbox label{width:50%;}
    .bookingdetailtabs .form-group.chkbox input[type="checkbox"]{width:auto;margin-top:11px;}
    .packagediv ul li {width: 49%;margin-bottom:10px;  }
    .packagediv ul li:nth-child(3){margin-left:0px;}
    .packagediv ul { min-height: 110px;    }
    .widthtab{display:block;width:100%;position: relative;overflow:auto;}
    .widthtab ul{width:700px;}
}

@media only screen and (max-width:375px) {}

@media (max-width: 360px) {
    #logo-container {width: 150px; }
    .navbar-top {left: 150px;}
    .navbar-top .container-fluid .navbar-top {float: right;}
    .usertop .dropdown-toggle {font-size: 12px;}
    .usertop .dropdown-toggle img {border-radius: 50%;}
    .fillctnform .form-group .zipbox label span {font-size: 5px;}
}

@media (max-width: 320px) {}

.IconDKBS {font-size: 21px;color: #eb6100;}