<section class="content-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9" style="width: 723px;margin: -55px -247px 73px;">
                <ul class="cd-breadcrumb triangle nav nav-tabs" role="tablist" style="text-align: left;">
                    <li class="active"><a href="#subform1" data-toggle="tab">General</a></li>
                    <li><a href="#subform2" role="tab" data-toggle="tab">Other</a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="subform1">
                        <form class="formbox">
                            <div class="form-group">
                                <label class="col-form-label">Navn*</label>
                                <input type="text" class="form-control txtsize">
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Sog</label>
                                <input type="text" class="form-control txtsize ">
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Hovedorganisation</label>
                                <input type="text" class="form-control txtsize ">
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">CVR</label>
                                <input type="text" class="form-control txtsize ">
                            </div>

                            <div class="form-group">
                                <label class="col-form-label">EAN</label>
                                <input type="text" class="form-control txtsize">
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Email</label>
                                <input type="text" class="form-control txtsize">
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Telefon</label>
                                <input type="text" class="form-control txtsize">
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Address 1</label>
                                <input type="text" class="form-control txtsize">
                            </div>

                            <div class="form-group">
                                <label class="col-form-label">Address 2</label>
                                <input type="text" class="form-control txtsize">
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Land</label>
                                <input type="text" class="form-control txtsize">
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Postnr., by, land</label>
                                <input type="text" class="form-control txtsize">
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Branchekode</label>
                                <input type="text" class="form-control txtsize">
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Branchekode 2</label>
                                <input type="text" class="form-control txtsize">
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Noter</label>
                                <input type="text" class="form-control txtsize">
                            </div>

                            <div class="form-group">
                                <label class="col-form-label">Noter</label>
                                <input type="text" class="form-control txtsize">
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Interssetags</label>
                                <input type="text" class="form-control txtsize">
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Primary Kontakperson</label>
                                <input type="text" class="form-control txtsize">
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">VIP Kunde</label>
                                <input type="text" class="form-control txtsize">
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Ansvarlige</label>
                                <input type="text" class="form-control txtsize">
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Status</label>
                                <input type="text" class="form-control txtsize">
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Nyhedsbrev</label>
                                <input type="text" class="form-control txtsize">
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Attachements</label>
                            </div>
                        </form>

                    </div>
                    <div role="tabpanel" class="tab-pane" id="subform2">
                        <form class="formbox">
                            <div class="form-group">
                                <label class="col-form-label">Interssetags</label>
                                <input type="text" class="form-control txtsize">
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Postnr., by, land</label>
                                <input type="text" class="form-control txtsize">
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Branche</label>
                                <input type="text" class="form-control txtsize">
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">First Name</label>
                                <input type="text" class="form-control txtsize">
                            </div>
                            <div class="container">
                                <div class="row text-center" style="margin: 0px 0px 0px -159px;">
                                    <label for="default" class="btn btn-default">Save</label>
                                    <label for="default" class="btn btn-default">Save & Exit</label>
                                    <label for="default" class="btn btn-default">Cancle</label>

                                </div>
                            </div>
                        </form>

                    </div>
                    <div>
                    </div>
                </div>
            </div>
        </div>
        </div>
</section>