<app-navigation></app-navigation>
<main id="playground">
  <app-header></app-header>
  <section class="content-area">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 dbkstabs">
        
          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel">
              <form class="formboxadditional">
                <h4 class="pull-left">GENERAL
                </h4>
              
                <div class="clearfix"></div>
                <hr class="style2">
                <div class="form-group">
                  <label class="col-form-label">Total rooms</label>
                  <input type="text" class="form-control txtsize">                                 
                </div>
                <div class="form-group">
                  <label class="col-form-label">Number of single rooms</label>
                  <input type="text" class="form-control">
                </div>
                <div class="form-group">
                  <label class="col-form-label">Number of double rooms</label>
                  <input type="text" class="form-control">
                </div>
                <div class="form-group">
                  <label class="col-form-label">Suite</label>
                  <input type="text" class="form-control">
                </div>
                <div class="form-group">
                  <label class="col-form-label">Of which handicap rooms</label>
                  <input type="text" class="form-control">
                </div>
                <div class="form-group">
                  <label class="col-form-label">Distance to additional accommodation (km)</label>
                  <input type="text" class="form-control">
                </div>
                <div class="form-group">
                  <label class="col-form-label">plenum</label>
                  <input type="text" class="form-control">
                </div>
                <div class="form-group">
                  <label class="col-form-label">Of which auditoriums (set up in levels / amphitheater style)</label>
                  <input type="text" class="form-control">
                </div>
                <div class="form-group">
                  <label class="col-form-label">Group Rooms</label>
                  <input type="text" class="form-control">
                </div>
                <div class="form-group">
                  <label class="col-form-label">Maximum number of diners</label>
                  <input type="text" class="form-control">
                </div>
                <div class="form-group">
                  <label class="col-form-label">Of which max. dining places in restaurant</label>
                  <input type="text" class="form-control">
                </div>
                <div class="form-group">
                  <label class="col-form-label">Of which max. dining places in their own room</label>
                  <input type="text" class="form-control">
                </div>
                <div class="form-group">
                  <label class="col-form-label">Max space at row of chairs</label>
                  <input type="text" class="form-control">
                </div>
                <div class="form-group">
                  <label class="col-form-label">Max space in Auditorium (setup in levels / amphitheater style)
                  </label>
                  <input type="text" class="form-control">
                </div>
                <div class="form-group">
                  <label class="col-form-label">Max. space at tables</label>
                  <input type="text" class="form-control">
                </div>
                <div class="form-group">
                  <label class="col-form-label">Max. Accommodation</label>
                  <input type="text" class="form-control">
                </div>
                <div class="form-group">
                  <label class="col-form-label">Mine. participants</label>
                  <input type="text" class="form-control">
                </div>
                <div class="form-group">
                  <label class="col-form-label">Airport Distance (km)</label>
                  <input type="text" class="form-control">
                </div>
                <div class="form-group">
                  <label class="col-form-label">Station distance (km)</label>
                  <input type="text" class="form-control">
                </div>
                <div class="form-group">
                  <label class="col-form-label">Distance to bus (km)</label>
                  <input type="text" class="form-control">
                </div>
                <div class="form-group">
                  <label class="col-form-label">Distance to motorway (km)</label>
                  <input type="text" class="form-control">
                </div>
                <div class="form-group">
                  <label class="col-form-label">Number of free parking spaces</label>
                  <input type="text" class="form-control">
                </div>
                <div class="form-group">
                  <label class="col-form-label">Distance to free parking (km)</label>
                  <input type="text" class="form-control">
                </div>
                <div class="form-group">
                  <label class="col-form-label">Number of parking spaces</label>
                  <input type="text" class="form-control">
                </div>
                <div class="form-group">
                  <label class="col-form-label">Green key</label>
                  <input type="text" class="form-control">
                </div>

                <div class="form-group">
                  <label class="col-form-label">Agreement for employees</label>
                  <input type="text" class="form-control">
                </div>

                <div class="form-group">
                  <label class="col-form-label">Handicap friendly</label>
                  <input type="text" class="form-control">
                </div>
                <div class="form-group">
                  <label class="col-form-label">state agreement</label>
                  <input type="text" class="form-control">
                </div>
                <div class="form-group">
                  <label class="col-form-label">Regions Agreement</label>
                  <input type="text" class="form-control">
                </div>
                <div class="form-group">
                  <label class="col-form-label">Bar</label>
                  <input type="text" class="form-control">
                </div>
                <div class="form-group">
                  <label class="col-form-label">lounge</label>
                  <input type="text" class="form-control">
                </div>
                <div class="form-group">
                  <label class="col-form-label">Billiards / dart / table tennis / etc.</label>
                  <input type="text" class="form-control">
                </div>
                <div class="form-group">
                  <label class="col-form-label">spa</label>
                  <input type="text" class="form-control">
                </div>
                <div class="form-group">
                  <label class="col-form-label">pool</label>
                  <input type="text" class="form-control">
                </div>
                <div class="form-group">
                  <label class="col-form-label">Fitness room</label>
                  <input type="text" class="form-control">
                </div>
                <div class="form-group">
                  <label class="col-form-label">Casino</label>
                  <input type="text" class="form-control">
                </div>
                <div class="form-group">
                  <label class="col-form-label">Green areas</label>
                  <input type="text" class="form-control">
                </div>
                <div class="form-group">
                  <label class="col-form-label">Golf</label>
                  <input type="text" class="form-control">
                </div>

                <div class="form-group">
                  <label class="col-form-label">Air Conditioning</label>
                  <input type="text" class="form-control">
                </div>

                <div class="form-group">
                  <label class="col-form-label">Cooking School</label>
                  <input type="text" class="form-control">
                </div>

                <div class="form-group">
                  <label class="col-form-label">Approval Status</label>
                  <input type="text" class="form-control">
                </div>
                <div class="form-group">
                  <label class="col-form-label">Attachments</label>
                  <input type="text" class="form-control">
                </div>

                <div class="form-group">
                  <label class="col-form-label">Contact Person</label>
                  <!-- <input type="text" class="form-control"> -->
                  <input [(ngModel)]="selectedValueContactPerson" [typeahead]="ContactPerson" typeaheadOptionField="Zipcode"
                    (typeaheadOnSelect)="onSelect($event)" [typeaheadScrollable]="true" class="form-control" name="kp" autocomplete="off">
                  <app-contactperson></app-contactperson>
                </div>
                <div class="form-group">
                  <label class="col-form-label">Department</label>
                  <input type="text" class="form-control">
                </div>
                <div class="form-group">
                  <label class="col-form-label">Position</label>
                  <input type="text" class="form-control">
                </div>
                <div class="form-group">
                  <label class="col-form-label">Email</label>
                  <input type="text" class="form-control">
                </div>
                <div class="form-group">
                  <label class="col-form-label">Telephone</label>
                  <input type="text" class="form-control">
                </div>
                <div class="form-group">
                  <label class="col-form-label">Mobile</label>
                  <input type="text" class="form-control">
                </div>
                <br>                
                <div class="form-group mtop40 text-right padright75">
                    <button type="submit" class="btn btn-danger mright50">Next</button>
                    <button type="submit" class="btn btn-success">Cancel</button>
                </div>
              </form>
            </div>  
          </div>
        </div>
      </div>
    </div>
  </section>
</main>