<!-- <app-navigation></app-navigation> -->
<app-partnersitenavigation></app-partnersitenavigation>
<main id="playground">
    <app-header></app-header>
    <section class="content-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">

                    <div class="accordion" id="accordionExample">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h2 class="mb-0">
                                    <div class="btn-link" data-toggle="collapse" data-target="#collapseOne">
                                        The Center's Premises in numbers
                                    </div>
                                </h2>
                            </div>

                            <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                <div class="card-body">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th class="th-lg" scope="col"></th>
                                                <th class="th-lg" scope="col">local Name</th>
                                                <th class="th-lg" scope="col">Max persons at meeting table
                                                </th>
                                                <th class="th-lg" scope="col">Max persons at school table / herringbone
                                                </th>
                                                <th class="th-lg" scope="col">Max persons at row of chairs
                                                </th>
                                                <th class="th-lg" scope="col">Max persons at islands</th>
                                                <th class="th-lg" scope="col">Max persons at U-table</th>
                                                <th class="th-lg" scope="col">Remark</th>
                                                <th class="th-lg" scope="col">Can this room be divided into smaller rooms?</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th>Details Bind</th>
                                                <th>Details Bind</th>
                                                <th>Details Bind</th>
                                                <th>Details Bind</th>
                                                <th>Details Bind</th>
                                                <th>Details Bind</th>
                                                <th>Details Bind</th>
                                                <th>Details Bind</th>
                                                <th>Details Bind</th>


                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>