<app-navigation></app-navigation>
<main id="playground">
  <app-header></app-header>
  <section class="content-area">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <h1>
            Welcome to {{title}}!!
          </h1>
          <div class="panel-group" id="accordion">
            <a routerLink="newbooking">New Booking</a>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title text-left">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                    {{bookingAssignedTiltle}}</a>
                </h4>
              </div>
              <div id="collapse1" class="panel-collapse collapse text-left text-nowrap">
                <div class="container text-nowrap"></div>
                <div class="card card-body">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th class="th-lg" *ngFor="let heading of bookingTask" scope="col">{{heading}}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let el of bookingAssignedElements">
                        <th>{{el.SRM_id}}</th>
                        <td><a routerLink="bookingdetails">{{el.Case}}</a></td>
                        <td>{{el.Queries}}</td>
                        <td>{{el.Role}}</td>
                        <td>{{el.Booking_Responsible}}</td>
                        <td>{{el.Assigned_to_team}}</td>
                        <td>{{el.Contact}}</td>
                        <td>{{el.Company_old_look_up}}</td>
                        <td>{{el.Received_on}}</td>
                        <td>{{el.Status}}</td>
                        <td>{{el.SLA}}</td>
                        <td>{{el.Active_support_time}}</td>
                        <td>{{el.Time_to_Fix}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title  text-left">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                    {{IncidentAssignedTiltle}}</a>
                </h4>
              </div>
              <div id="collapse2" class="panel-collapse collapse text-nowrap">
                <div id="collapse2" class="card card-body">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th *ngFor="let heading of incidentTask" scope="col">{{heading}} </th>
                      </tr>
                    </thead>
                    <tbody class="text-left">
                      <tr *ngFor="let el of incidentElements">
                        <th>{{el.im_id}}</th>
                        <td>{{el.Subject}}</td>
                        <td>{{el.Procedures}}</td>
                        <td>{{el.Role}}</td>
                        <td>{{el.Assigned_to_Person}}</td>
                        <td>{{el.Assigned_to_team}}</td>
                        <td>{{el.Requester}}</td>
                        <td>{{el.Customer}}</td>
                        <td>{{el.Discovery_Time}}</td>
                        <td>{{el.Status}}</td>
                        <td>{{el.SLA}}</td>
                        <td>{{el.Active_support_time}}</td>
                        <td>{{el.Time_to_Fix}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title  text-left">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                    {{bookingUnAssignedTiltle}}</a>
                </h4>
              </div>
              <div id="collapse3" class="panel-collapse collapse">
                <div id="collapse3" class="card card-body">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th *ngFor="let heading of bookingUnassignedTask" scope="col">{{heading}} </th>
                      </tr>
                    </thead>
                    <tbody class="text-left">
                      <tr *ngFor="let el of bookingUnAssignedElements">
                        <th scope="row">{{el.SRM_id}}</th>
                        <td>{{el.Case}}</td>
                        <td>{{el.Queries}}</td>
                        <td>{{el.Company_old_look_up}}</td>
                        <td>{{el.Discovery_Time}}</td>
                        <td>{{el.Status}}</td>
                        <td>{{el.SLA}}</td>
                        <td>{{el.Active_support_time}}</td>
                        <td>{{el.Time_to_Fix}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

            </div>


            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title  text-left">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                    {{IncidentUnAssignedTiltle}}</a>
                </h4>
              </div>
              <div id="collapse4" class="panel-collapse collapse">
                <div id="collapse4" class="card card-body">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th *ngFor="let heading of incidentUnassignedTask" scope="col">{{heading}} </th>
                      </tr>
                    </thead>
                    <tbody class="text-left">
                      <tr *ngFor="let el of IncidentUnAssignedElements">
                        <th>{{el.im_id}}</th>
                        <td>{{el.Subject}}</td>
                        <td>{{el.Procedures}}</td>
                        <td>{{el.Requester}}</td>
                        <td>{{el.Customer}}</td>
                        <td>{{el.Discovery_Time}}</td>
                        <td>{{el.Status}}</td>
                        <td>{{el.SLA}}</td>
                        <td>{{el.Active_support_time}}</td>
                        <td>{{el.Time_to_Fix}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>