<app-navigation></app-navigation>
<main id="playground">
    <app-header></app-header>
    <section class="content-area">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <!-- <ul class="cd-breadcrumb triangle nav nav-tabs" role="tablist">
                <li class="active"><a href="#SAGSDETALJER" data-toggle="tab">SAGSDETALJER</a></li>
                <li><a href="#EVENTDETALJER" role="tab" data-toggle="tab">EVENTDETALJER</a></li>
                <li><a href="#firma" role="tab" data-toggle="tab">FIRMA-OG KONTTAKTOPLYSNIGER</a></li>
                <li><a href="#OTHER" role="tab" data-toggle="tab">OTHER</a></li>
            </ul> -->
            <ul class="cd-breadcrumb triangle nav nav-tabs" role="tablist">
                    <li [class]="selectedwallet === 'SAGSDETALJER'?'active':'inactive'"><a (click)="selectedwallet = 'SAGSDETALJER'">SAGSDETALJER</a></li>
                    <li [class]="selectedwallet === 'EVENTDETALJER'?'active':'inactive'"><a (click)="selectedwallet = 'EVENTDETALJER'">EVENTDETALJER</a></li>
                    <li [class]="selectedwallet === 'FIRMA-OG'?'active':'inactive'"> <a (click)="selectedwallet = 'FIRMA-OG'">FIRMA-OG KONTTAKTOPLYSNIGER</a></li>
                    <li [class]="selectedwallet === 'OTHER'?'active':'inactive'"><a (click)="selectedwallet = 'OTHER'">OTHER</a></li>
                  </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" *ngIf="selectedwallet === 'SAGSDETALJER'">
                    <form class="formbox">
                        <div class="form-group">
                            <label class="col-form-label">Email offer sent</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Response time for email offer</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Center info Cause for removal</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Comments</label>
                            <input type="text" class="form-control">
                        </div>

                        <div class="form-group">
                            <label class="col-form-label">Flow</label>
                            <input type="text" value="Action" class="form-control">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Parked until</label>

                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Internal history</label>
                            <input type="text" value="No Existing entries" class="form-control">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">1. closing date</label>
                            <input type="text" class="form-control">
                        </div>

                        <div class="form-group">
                            <label class="col-form-label">Meeting series</label>

                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Additional series text</label>
                        </div>

                        <div class="form-group">
                            <label class="col-form-label">Is main series case</label>
                            <input type="text" class="form-control">
                        </div>

                        <div class="form-group">
                            <label class="col-form-label">Select language</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Attachments</label>


                        </div>

                    </form>


                </div>
                <div role="tabpanel" *ngIf="selectedwallet === 'EVENTDETALJER'">
                    <form class="formbox">
                        <div class="form-group">
                            <label class="col-form-label">Arrival</label>
                            <!-- <input type="text" class="form-control"> -->
                            <input type="text" placeholder="Datepicker" class="form-control" bsDatepicker>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Depart</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">The dates are flexible</label>
                            <input type="text" value="No" class="form-control">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Our Notes</label>
                            <input type="text" class="form-control">
                        </div>

                        <div class="form-group">
                            <label class="col-form-label">Formal</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Number of participants</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Number of changes</label>
                            <input type="text" value="Antal enkeltvxelser" class="form-control">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">participants</label>
                            <input type="text" class="form-control">
                        </div>

                        <div class="form-group">

                            <label class="col-form-label">Table setting in plenary</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Event type</label>
                        </div>

                        <div class="form-group">
                            <label class="col-form-label">Lokarer</label>
                            <input type="text" class="form-control">
                        </div>

                        <div class="form-group">
                            <label class="col-form-label">Please also indicate price</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Additional wishes / comments</label>

                        </div>

                        <div class="form-group">
                            <label class="col-form-label">Desired geographical area</label>

                        </div>

                        <div class="form-group">


                            <label class="col-form-label">booking Responsible</label>
                            <input type="checkbox">
                        </div>

                        <div class="form-group">
                            <label class="col-form-label" value="No">Statsaftale</label>
                            <input type="text" value="No">
                        </div>

                        <div class="form-group">

                            <label class="col-form-label">state agreement</label>
                            <input type="text" value="No">
                        </div>

                        <div class="form-group">
                            <label class="col-form-label">CenterMatching</label>

                        </div>

                    </form>


                </div>
                <div role="tabpanel" *ngIf="selectedwallet === 'FIRMA-OG'">
                                <form class="formbox">
                                    <div class="form-group">
                                        <label class="col-form-label">Business</label>
                                        <input type="text" value= "WinPoint A/s"class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label class="col-form-label">Contact person</label>
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label class="col-form-label">Where do you know us?</label>
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label class="col-form-label"> Referred contact person</label>
                                        <input type="text" class="form-control">
                                    </div>

                                    <div class="form-group">
                                        <label class="col-form-label">Email</label>
                                        <input type="text"  class="form-control">
										
                                    </div>
                                    <div class="form-group">
									<label class="col-form-label">Mobil</label> 
												  <input type="text"  class="form-control">					
                                    </div>
                                    <div class="form-group">
                                        <label class="col-form-label">Telephone</label>
										<Input type ="text" class="form-control">
									
                                       
                                    </div>
                                    <div class="form-group">
                                        <label class="col-form-label">Referred firm</label>
                                        <input type="text" class="form-control">
                                    </div>

                                    <div class="form-group">
									
                                        <label class="col-form-label">Addresse</label>
										<input type="text" value="Holmekrogen 10" class="form-control">
  
                                    </div>
                                    <div class="form-group">
                                        <label class="col-form-label">Postal code, city, country</label>
											<input type="text" value="2830 - Virum, Denmark" class="form-control">
                                    </div>
									
                                    <div class="form-group">
                                        <label class="col-form-label">Business</label>
                                       <input type="text" value ="IT og telekommunikation" class="form-control">
                                    </div>
									
                                    
                          
                                </form>
                              
                            
                            </div>
                <div role="tabpanel" *ngIf="selectedwallet === 'OTHER'">
                                <form class="formbox">
                                    <div class="form-group">
                                        <label class="col-form-label">Business</label>
                                        <input type="text" value= "WinPoint A/s"class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label class="col-form-label">Contact person</label>
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label class="col-form-label">Where do you know us?</label>
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label class="col-form-label"> Referred contact person</label>
                                        <input type="text" class="form-control">
                                    </div>

                                    <div class="form-group">
                                        <label class="col-form-label">Email</label>
                                        <input type="text"  class="form-control">
										
                                    </div>
                                    <div class="form-group">
									<label class="col-form-label">Mobile</label> 
												  <input type="text"  class="form-control">					
                                    </div>
                                    <div class="form-group">
                                        <label class="col-form-label">Telefon</label>
										<Input type ="text" class="form-control">
									
                                       
                                    </div>
                                    <div class="form-group">
                                        <label class="col-form-label">Referred firm</label>
                                        <input type="text" class="form-control">
                                    </div>

                                    <div class="form-group">
									
                                        <label class="col-form-label">Addresse</label>
										<input type="text" value="Holmekrogen 10" class="form-control">
  
                                    </div>
                                    <div class="form-group">
                                        <label class="col-form-label">Postal code, city, country</label>
											<input type="text" value="2830 - Virum, Denmark" class="form-control">
                                    </div>
									
                                    <div class="form-group">
                                        <label class="col-form-label">Business  </label>
                                       <input type="text" value ="IT og telekommunikation" class="form-control">
                                    </div>
                                </form>
                            </div>
                
            </div>
        </div>
    </div>
</div>
</section>
</main>