<app-navigation></app-navigation>
<main id="playground">
  <app-header></app-header>
  <section class="content-area">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <h1>
            Partner / Non Partner
          </h1>
          <table class="table ">
            <thead>
              <tr style="background-color: #c7c7dc;">
               <th scope="col">  <input type="checkbox" aria-label="Select all items in this table"  id="SelectAll">&nbsp;
                <i class="fa fa-paperclip IconDKBS" >&nbsp;</i>
              </th>
           
                <th scope="col">Cause</th>
                <th scope="col">Title</th>
                <th scope="col"></th>
                <th scope="col">Arrival</th>
                <th scope="col">Reply</th>
                <th scope="col">Booking charge</th>
                <th scope="col">Response time</th>
                <th scope="col">Created </th>          
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>             
                <td>cause</td>
                <td>Cause Title</td>
                <td>
                    <i class="fa fa-ellipsis-h IconDKBS" >&nbsp;</i>
                  <i class="fa fa-commenting-o IconDKBS" >&nbsp;</i>
                  <i class="fa fa-info-circle IconDKBS" >&nbsp;</i>
                 
                </td>
                <td>25/11/2018</td>
                 <td>Reply</td>
                <td><input type="checkbox" aria-label="Select all items in this table"  id="SelectAll">&nbsp;Charges</td>
                <td>75h 85min</td>
                <td>12 January</td>                                          
              </tr>
                                                
            </tbody>
          </table>
       </div>
      </div>
    </div>
  </section>
</main>