<button class="btn btn-primary" (click)="open(content)"><span class="fa fa-plus"></span></button>
<ng-template #content let-modal>
<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Add Company</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRefhide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <!-- <app-subform></app-subform> -->

  <div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <ul class="cd-breadcrumb triangle nav nav-tabs" role="tablist">
                <!-- <li class="active"><a href="#subform1" data-toggle="tab">General</a></li>
                <li><a href="#subform2" role="tab" data-toggle="tab">Other</a></li> -->

                <li [class]="selectedwallet === 'General'?'active':'inactive'"><a (click)="selectedwallet = 'General'">General</a></li>
              <li [class]="selectedwallet === 'Other'?'active':'inactive'"><a (click)="selectedwallet = 'Other'">Other</a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" *ngIf="selectedwallet === 'General'">
                    <form class="formbox">
                        <div class="form-group">
                            <label class="col-form-label">Navn*</label>
                            <input type="text" class="form-control txtsize">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Sog</label>
                            <input type="text" class="form-control txtsize ">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Hovedorganisation</label>
                            <input type="text" class="form-control txtsize ">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">CVR</label>
                            <input type="text" class="form-control txtsize ">
                        </div>

                        <div class="form-group">
                            <label class="col-form-label">EAN</label>
                            <input type="text" class="form-control txtsize">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Email</label>
                            <input type="text" class="form-control txtsize">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Telefon</label>
                            <input type="text" class="form-control txtsize">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Address 1</label>
                            <input type="text" class="form-control txtsize">
                        </div>

                        <div class="form-group">
                            <label class="col-form-label">Address 2</label>
                            <input type="text" class="form-control txtsize">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Land</label>
                            <input type="text" class="form-control txtsize">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Postnr., by, land</label>
                            <input type="text" class="form-control txtsize">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Branchekode</label>
                            <input type="text" class="form-control txtsize">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Branchekode 2</label>
                            <input type="text" class="form-control txtsize">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Noter</label>
                            <input type="text" class="form-control txtsize">
                        </div>

                        <div class="form-group">
                            <label class="col-form-label">Noter</label>
                            <input type="text" class="form-control txtsize">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Interssetags</label>
                            <input type="text" class="form-control txtsize">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Primary Kontakperson</label>
                            <input type="text" class="form-control txtsize">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">VIP Kunde</label>
                            <input type="text" class="form-control txtsize">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Ansvarlige</label>
                            <input type="text" class="form-control txtsize">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Status</label>
                            <input type="text" class="form-control txtsize">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Nyhedsbrev</label>
                            <input type="text" class="form-control txtsize">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Attachements</label>
                        </div>
                    </form>

                </div>
                <div role="tabpanel" *ngIf="selectedwallet === 'Other'">
                    <form class="formbox">
                        <div class="form-group">
                            <label class="col-form-label">Interssetags</label>
                            <input type="text" class="form-control txtsize">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Postnr., by, land</label>
                            <input type="text" class="form-control txtsize">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Branche</label>
                            <input type="text" class="form-control txtsize">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">First Name</label>
                            <input type="text" class="form-control txtsize">
                        </div>
                        <div class="form-group">
                            <div class="pull-right">
                                <a class="btn btn-default">Save</a>
                                <a class="btn btn-default">Save & Exit</a>
                                <a class="btn btn-default">Cancle</a>

                            </div>
                        </div>
                    </form>

                </div>
                <div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- <div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
</div> -->
</ng-template>